 <%- include('../../../../partials/header.ejs') %>

<section class="content home">
        <div class="block-header" style="margin-top: 5rem">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2 style="color:#1b1d61">Novax-Assets savings accounts
                        <small class="text-muted">Best interest rates in diverse savings accounts </small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                   
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="dashboard"><i class="zmdi zmdi-home"></i> </a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Savings</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix">
                
            </div>
            <div class="row clearfix">
                                  <div class="col-lg-4 col-md-12">
                   
                                    <a href="fundsavings?id=1">
                    <div _ngcontent-ng-c3261646818="" automation-id="sw-card-container" class="sw-prest-card-container snipcss-HlpqQ mb-3">
                        <div _ngcontent-ng-c3261646818="" class="sw-card-container">
                            <div _ngcontent-ng-c3261646818="" class="sw-card-background style-GwosL" id="style-GwosL"style="background-image: url('/uploads/IMAGE6730967345a0c.jpg');"></div>
                            <div _ngcontent-ng-c3261646818="" class="item-content">
                                <div _ngcontent-ng-c3261646818="" class="sw-tag-wrap">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ng-c3261646818="" class="sw-card-info">
                            <div _ngcontent-ng-c3261646818="" class="sw-content-wrap">
                                <div _ngcontent-ng-c3261646818="" class="sw-content-portfolio-info"><a _ngcontent-ng-c3261646818="" automation-id="sp-card-username" class="sw-card-title" >Individual Retirement Account</a></div>
                            </div>
                            <div _ngcontent-ng-c3261646818="" automation-id="sp-preset-card-bio" class="sw-description"><p>Roth and Traditional, both offering tax-free growth potential on after-tax contributions.</p>
                            <p> For every contribution made to an IRA account we offer a match of up to 15%. This match up extends to all contributions, including transfers and rollovers, with no cap on the matching amount.</p></div>
                            <div _ngcontent-ng-c3261646818="" class="sw-card-data">
                                <div _ngcontent-ng-c3261646818="" class="sw-card-data-gain">
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-amount" class="item-gain et-positive"> 15%</div>
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-title" class="data-description">Return <span _ngcontent-ng-c3261646818="">(12M)</span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </a>
                   

                </div>

                                <div class="col-lg-4 col-md-12">
                                   <a href="fundsavings?id=2">
                   
                    <div _ngcontent-ng-c3261646818="" automation-id="sw-card-container" class="sw-prest-card-container snipcss-HlpqQ mb-3">
                        <div _ngcontent-ng-c3261646818="" class="sw-card-container">
                            <div _ngcontent-ng-c3261646818="" class="sw-card-background style-GwosL" id="style-GwosL"style="background-image: url('/uploads/IMAGE673097fb5ec7a.jpg');"></div>
                            <div _ngcontent-ng-c3261646818="" class="item-content">
                                <div _ngcontent-ng-c3261646818="" class="sw-tag-wrap">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ng-c3261646818="" class="sw-card-info">
                            <div _ngcontent-ng-c3261646818="" class="sw-content-wrap">
                                <div _ngcontent-ng-c3261646818="" class="sw-content-portfolio-info"><a _ngcontent-ng-c3261646818="" automation-id="sp-card-username" class="sw-card-title">Self Invested Personal Pension</a></div>
                            </div>
                            <div _ngcontent-ng-c3261646818="" automation-id="sp-preset-card-bio" class="sw-description">Novax-Assets empowers you to take charge of your retirement and investments. With complete flexibility over how much you save and where your pot is invested, your savings can grow tax-free and may benefit from Government tax relief. Earn a modest 4.25% on your pension</div>
                            <div _ngcontent-ng-c3261646818="" class="sw-card-data">
                                <div _ngcontent-ng-c3261646818="" class="sw-card-data-gain">
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-amount" class="item-gain et-positive"> 4.25%</div>
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-title" class="data-description">Return <span _ngcontent-ng-c3261646818="">(12M)</span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </a>

                </div>
                                <div class="col-lg-4 col-md-12">
                                   <a href="fundsavings?id=3">
                    <div _ngcontent-ng-c3261646818="" automation-id="sw-card-container" class="sw-prest-card-container snipcss-HlpqQ mb-3">
                        <div _ngcontent-ng-c3261646818="" class="sw-card-container">
                            <div _ngcontent-ng-c3261646818="" class="sw-card-background style-GwosL" id="style-GwosL"style="background-image: url('/uploads/IMAGE673098b342a46.jpg');"></div>
                            <div _ngcontent-ng-c3261646818="" class="item-content">
                                <div _ngcontent-ng-c3261646818="" class="sw-tag-wrap">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ng-c3261646818="" class="sw-card-info">
                            <div _ngcontent-ng-c3261646818="" class="sw-content-wrap">
                                <div _ngcontent-ng-c3261646818="" class="sw-content-portfolio-info"><a _ngcontent-ng-c3261646818="" automation-id="sp-card-username" class="sw-card-title" >High Yield Savings Account</a></div>
                            </div>
                            <div _ngcontent-ng-c3261646818="" automation-id="sp-preset-card-bio" class="sw-description">Earn up to 104% APY rates on deposits when compared to the national average for traditional savings accounts. Higher interest rates mean your deposited funds grow faster, providing a greater return on deposits than standard savings account.         </div>
                            <div _ngcontent-ng-c3261646818="" class="sw-card-data">
                                <div _ngcontent-ng-c3261646818="" class="sw-card-data-gain">
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-amount" class="item-gain et-positive"> 104%</div>
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-title" class="data-description">Return <span _ngcontent-ng-c3261646818="">(12M)</span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </a>

                </div>
                                <div class="col-lg-4 col-md-12">
                                   <a href="fundsavings?id=4">
                    <div _ngcontent-ng-c3261646818="" automation-id="sw-card-container" class="sw-prest-card-container snipcss-HlpqQ mb-3">
                        <div _ngcontent-ng-c3261646818="" class="sw-card-container">
                            <div _ngcontent-ng-c3261646818="" class="sw-card-background style-GwosL" id="style-GwosL"style="background-image: url('/uploads/IMAGE67309958adcc8.jpg');"></div>
                            <div _ngcontent-ng-c3261646818="" class="item-content">
                                <div _ngcontent-ng-c3261646818="" class="sw-tag-wrap">
                                    
                                </div>
                            </div>
                        </div>
                        
                        <div _ngcontent-ng-c3261646818="" class="sw-card-info">
                            <div _ngcontent-ng-c3261646818="" class="sw-content-wrap">
                                <div _ngcontent-ng-c3261646818="" class="sw-content-portfolio-info"><a _ngcontent-ng-c3261646818="" automation-id="sp-card-username" class="sw-card-title" >Registered Retirement Savings Plan</a></div>
                            </div>
                            <div _ngcontent-ng-c3261646818="" automation-id="sp-preset-card-bio" class="sw-description">An RRSP is a tax-advantaged investment vehicle designed to help you save for retirement. At Novax-Assets, your RRSP funds are invested in a diverse portfolio of exchange-traded funds (ETFs), Earning atleast 13% APY</div>
                            <div _ngcontent-ng-c3261646818="" class="sw-card-data">
                                <div _ngcontent-ng-c3261646818="" class="sw-card-data-gain">
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-amount" class="item-gain et-positive"> 13%</div>
                                    <div _ngcontent-ng-c3261646818="" automation-id="sp-card-gain-title" class="data-description">Return <span _ngcontent-ng-c3261646818="">(12M)</span></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    </a>

                </div>
                               
            </div>
        </div>
    </section>
    <style>
        @font-face { 
  font-family:iconFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf) format("truetype");
} 
@font-face { 
  font-family:iconGeneralFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/general/general-v.6.3.ttf) format("truetype");
} 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@font-face { 
  font-family:"iconFont";
  font-weight:normal;
  font-style:normal;
  src:url("https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf") format("ttf");
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Light.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Regular.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Medium.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Bold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-ExtraBold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Light.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Regular.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Medium.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Bold.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Light.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:local("Open Sans Light"),local("OpenSans-Light"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:300;
  src:local("Open Sans Light Italic"),local("OpenSans-LightItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:400;
  src:local("Open Sans Italic"),local("OpenSans-Italic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:local("Open Sans SemiBold"),local("OpenSans-SemiBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:600;
  src:local("Open Sans SemiBold Italic"),local("OpenSans-SemiBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:700;
  src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:local("Open Sans ExtraBold"),local("OpenSans-ExtraBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:800;
  src:local("Open Sans ExtraBold Italic"),local("OpenSans-ExtraBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Regular.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Medium.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Bold.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
  body {  
    list-style:none;
    direction:ltr;
  }  
@media all{     
  body {  
    color:var(--neutral-100);
    font-family:'Open Sans',sans-serif;
  }  
}  
* { 
    scrollbar-color: var(--info-hover-actions, #555B70) transparent; 
    scrollbar-width: thin;
} 

@media all{ 
  * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
  } 

  * { 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 

  div { 
    margin: 0; 
    padding: 0;
  } 

  body { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  body { 
    overflow: scroll;
  } 
}     

@media all{ 
  body { 
    color: var(--neutral-100); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
  } 

  body { 
    background-color: var(--neutral-20); 
    font-family: 'Open Sans',sans-serif; 
    height: 100%;
  } 

  body { 
    margin: 0; 
    padding: 0;
  } 

  html { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  html { 
    overflow: scroll;
  } 
}     

@media all{ 
  html { 
    margin: 0; 
    padding: 0;
  } 
}     

:root { 
    --aa-base-unit: 16; 
    --aa-spacing-factor: 1; 
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px); 
    --aa-spacing-half: calc(var(--aa-spacing) / 2); 
    --aa-font-size: calc(var(--aa-base-unit) * 1px); 
    --aa-background-color-rgb: 255, 255, 255; 
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb); 
} 

:root { 
    --primary-neutral-text: #13151C; 
    --tertiary-neutral-text: #878DA1; 
    --info-hover-actions: #5A6178; 
    --rgb-neutral-0: 255, 255, 255; 
    --rgb-neutral-100: 0, 0, 0; 
    --primary-100-dm: #ADF68D; 
    --secondary-110: #0079b9; 
    --neutral-100: #2c2c2c; 
    --neutral-90: #777; 
    --neutral-40: #ddd; 
    --neutral-20: #f1f1f1; 
    --neutral-0: #fff; 
    --neutral-40-dm: #555B70; 
    --rating-lowest: #3DAE23; 
    --rating-low: #48C328; 
} 

.sw-prest-card-container[_ngcontent-ng-c3261646818] { 
    cursor: pointer;
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--tertiary-neutral-text, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

.sw-card-container[_ngcontent-ng-c3261646818] { 
    display: flex; 
    flex-direction: column; 
    padding: 1.5rem; 
    position: relative;
} 

.sw-card-container[_ngcontent-ng-c3261646818] { 
    height: 200px; 
    cursor: pointer;
} 

.sw-card-info[_ngcontent-ng-c3261646818] { 
    padding: 25px 20px; 
    min-height: 200px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    position: relative; 
    z-index: 9; 
    background: var(--neutral-0); 
    margin-top: -20px; 
    border: 1px solid var(--neutral-40); 
    border-radius: 0 0 8px 8px;
} 

.sw-card-background[_ngcontent-ng-c3261646818] { 
    background-size: 100% auto,auto 100%; 
    background-repeat: no-repeat; 
    border-radius: 8px; 
    overflow: hidden; 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0;
} 

.sw-card-background[_ngcontent-ng-c3261646818] { 
    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0;
} 

.sw-card-background[_ngcontent-ng-c3261646818]:after { 
    content: ""; 
    display: inline-block; 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    background: linear-gradient(to bottom,rgba(var(--rgb-neutral-100),0) 33%,black 100%);
} 

.item-content[_ngcontent-ng-c3261646818] { 
    display: flex; 
    flex-direction: column; 
    line-height: normal; 
    position: absolute; 
    top: 20px; 
    left: 24px; 
    right: 24px; 
    bottom: 24px;
} 

.sw-content-wrap[_ngcontent-ng-c3261646818] { 
    display: flex; 
    justify-content: space-between;
} 

.sw-card-info[_ngcontent-ng-c3261646818] .sw-description[_ngcontent-ng-c3261646818]  { 
    color: var(--neutral-100); 
    /*padding: 10px 0; */
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1rem; 
    letter-spacing: -.3px; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    overflow-y: scroll; 
    max-height: 75px;
} 

.sw-card-data[_ngcontent-ng-c3261646818] { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-end;
} 

.sw-tag-wrap[_ngcontent-ng-c3261646818] { 
    width: 100%; 
    text-align: end;
} 

.sw-tag-wrap[_ngcontent-ng-c3261646818] { 
    flex-grow: 1; 
    position: relative;
} 

.sw-content-portfolio-info[_ngcontent-ng-c3261646818] { 
    display: flex;
} 

.sw-trading-actions[_ngcontent-ng-c3261646818] { 
    display: flex; 
    justify-content: center; 
    position: absolute; 
    right: 0; 
    background: rgba(var(--rgb-neutral-100),.3); 
    border-radius: 15px; 
    width: 52px; 
    height: 26px; 
    line-height: 15px;
} 

@media all{ 
  a { 
    text-decoration: none; 
    outline: 0;
  } 

  a { 
    color: var(--neutral-100);
  } 

  a { 
    margin: 0; 
    padding: 0;
  } 
}     

.sw-card-title[_ngcontent-ng-c3261646818] { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1.125rem; 
    letter-spacing: -.35px; 
    color: var(--neutral-0); 
    font-weight: 700; 
    margin-top: auto; 
    padding-bottom: .125rem; 
    -webkit-font-smoothing: antialiased;
} 

.sw-card-title[_ngcontent-ng-c3261646818] { 
    color: var(--neutral-100); 
    padding-bottom: 0; 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1rem; 
    letter-spacing: -.3px;
} 

.et-positive { 
    color: var(--rating-lowest);
} 

.item-gain[_ngcontent-ng-c3261646818] { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1.5rem; 
    font-weight: 300; 
    letter-spacing: -.45px;
} 

.item-gain.et-positive[_ngcontent-ng-c3261646818] { 
    color: var(--primary-100-dm);
} 

.sw-card-data-gain[_ngcontent-ng-c3261646818] .item-gain[_ngcontent-ng-c3261646818]  { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1.375rem; 
    letter-spacing: -.35px;
} 

.sw-card-data-gain[_ngcontent-ng-c3261646818] .item-gain.et-positive[_ngcontent-ng-c3261646818]  { 
    color: var(--rating-low);
} 

.data-description[_ngcontent-ng-c3261646818] { 
    text-transform: uppercase; 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: .75rem; 
    letter-spacing: -.2px;
} 

.item-assets[_ngcontent-ng-c3261646818] { 
    color: var(--neutral-0); 
    display: flex; 
    flex-direction: column; 
    position: relative;
} 

@media all{ 
  span { 
    margin: 0; 
    padding: 0;
  } 
}     

.main-assets[_ngcontent-ng-c3261646818] { 
    display: flex; 
    flex-wrap: wrap;
} 

.additional-assets[_ngcontent-ng-c3261646818] { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: .75rem; 
    letter-spacing: -.2px; 
    font-weight: 300; 
    position: relative; 
    text-align: center; 
    text-transform: uppercase; 
    top: 2px; 
    color: rgba(var(--rgb-neutral-0),.75);
} 

.additional-assets[_ngcontent-ng-c3261646818] { 
    color: var(--neutral-90); 
    font-weight: 400;
} 

[_nghost-ng-c206250979] { 
    display: inline-block; 
    position: relative;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818] { 
    border-radius: 4px; 
    box-shadow: 4px 0 4px 0 rgba(var(--rgb-neutral-100),.35); 
    height: 25px; 
    overflow: hidden; 
    position: relative; 
    width: 25px;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818]:first-child { 
    margin-right: -10px; 
    z-index: 2;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818]:after { 
    background: linear-gradient(0deg,rgba(var(--rgb-neutral-100),0) 0%,rgba(var(--rgb-neutral-0),.3) 100%); 
    content: ""; 
    display: inline-block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818]:nth-child(2) { 
    z-index: 1;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818]:last-of-type { 
    box-shadow: none;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818]:nth-child(3) { 
    margin-left: -10px; 
    z-index: 0;
} 

.main-asset-avatar[_ngcontent-ng-c3261646818] img[_ngcontent-ng-c3261646818]  { 
    width: 100%;
} 

et-select-header { 
    color: var(--primary-neutral-text, #2c2c2c);
} 

[_nghost-ng-c3317408547] { 
    color: var(--secondary-110); 
    font-size: 14px; 
    font-weight: 700; 
    text-transform: uppercase; 
    border-radius: 3px; 
    background-color: var(--neutral-0); 
    cursor: pointer; 
    transition: background-color .2s linear; 
    padding: 9px; 
    box-sizing: border-box; 
    box-shadow: inset 0 1px #c8c8c866,0 1px 2px 0 rgba(var(--rgb-neutral-100),.3); 
    -webkit-user-select: none; 
    user-select: none; 
    display: flex; 
    align-items: center;
} 

[_nghost-ng-c1370385705] et-select-header  { 
    background: transparent;
} 

.watchlists-edit[_ngcontent-ng-c1370385705] { 
    box-shadow: none; 
    border: none;
} 

et-watchlist-quick-edit[_nghost-ng-c1370385705] et-select-header[_ngcontent-ng-c1370385705]  { 
    padding: 5px 0;
} 

.sw-prest-card-container[_ngcontent-ng-c3261646818] et-watchlist-quick-edit[_ngcontent-ng-c3261646818] et-select-header  { 
    padding: 0;
} 

.watchlists-edit[_ngcontent-ng-c1370385705]:after { 
    content: "\e93e"; 
    font-family: iconFont,sans-serif; 
    font-style: normal; 
    font-size: 22px; 
    text-align: center; 
    color: var(--neutral-40-dm); 
    font-weight: 400; 
    line-height: 1.2;
} 

et-smart-portfolio-preset-card[_nghost-ng-c1370385705] .watchlists-edit[_ngcontent-ng-c1370385705]::after, et-smart-portfolio-preset-card [_nghost-ng-c1370385705] .watchlists-edit[_ngcontent-ng-c1370385705]::after { 
    color: var(--neutral-0);
} 

.header-text[_ngcontent-ng-c3317408547] { 
    flex: 1; 
    text-overflow: ellipsis; 
    overflow: hidden; 
    text-transform: uppercase;
} 

.icon-arrow-down[_ngcontent-ng-c3317408547] { 
    display: none;
} 

.no-arrow [_nghost-ng-c3317408547] .icon-arrow-down[_ngcontent-ng-c3317408547]  { 
    display: none;
} 

.icon-arrow-down:before { 
    content: "\e906"; 
    font-family: iconGeneralFont,sans-serif; 
    font-family: iconGeneralFont; 
    font-weight: 400; 
    font-style: normal;
} 

.arrow-down[_ngcontent-ng-c3317408547] { 
    display: block; 
    width: 0; 
    height: 0; 
    border: 6px solid transparent; 
    border-top: 6px solid var(--secondary-110); 
    box-sizing: border-box; 
    margin: 6px 5px 0;
} 

.no-arrow [_nghost-ng-c3317408547] .arrow-down[_ngcontent-ng-c3317408547]  { 
    display: none;
} 

#style-kDkWr.style-kDkWr {  
   background-color: rgb(255, 206, 0);  
}  
#style-15Xr1.style-15Xr1 {  
   background-color: rgb(255, 206, 0);  
}  
#style-9F5X1.style-9F5X1 {  
   background-color: rgb(255, 206, 0);  
}  
#style-hmMfx.style-hmMfx {  
   visibility: visible;  
}  

    </style>
    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="/assets/bundles/mainscripts.bundle.js"></script>
</body>


</html>