 <%- include('../../../../partials/header.ejs') %>

 <section class="content home">
        <div class="block-header" style="margin-top: 5rem;">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Crypto
                        <small class="text-muted">Buy, Invest and Stake your Cryptocurrencies </small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                   
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="dashboard"><i class="zmdi zmdi-home"></i> </a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Crypto</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row clearfix" style="display: block !important;">
                <div _ngcontent-ng-c4061591387="" class="watchlist-header no-arrow ng-tns-c4061591387-37 snipcss-qa2pq">
                    <div _ngcontent-ng-c4061591387="" class="ng-tns-c4061591387-37">
                        <div _ngcontent-ng-c4061591387="" class="select-container ng-tns-c4061591387-37">
                            <et-select _ngcontent-ng-c4061591387="" class="ng-tns-c4061591387-37 ng-tns-c3799892002-39 ets-select ng-star-inserted" _nghost-ng-c3799892002="">
                                <div _ngcontent-ng-c3799892002="" class="ng-tns-c3799892002-39">
                                    <et-select-header _ngcontent-ng-c4061591387="" automation-id="watchlist-watchlist-title" class="watchlist-header-dropper-arrow ng-tns-c3799892002-39 ets-icon-arrow-down">
                                        <div _ngcontent-ng-c4061591387="" class="ets-title-main"> Available Crypto </div>
                                    </et-select-header>
                                </div>
                            </et-select>
                        </div>
                        
                    </div>
                </div>  
            </div>
            <script>
                document.querySelectorAll(".cod a").forEach(link => {
  link.addEventListener("click", event => event.preventDefault());
});

            </script>
            <div class="row clearfix  justify-content-center">
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=1">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:BTCUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=2">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:ETHUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=3">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "COINBASE:USDTUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=4">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:BNBUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=5">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:SOLUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=6">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:XRPUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=7">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:DOGEUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=8">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:TRXUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=9">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:ADAUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=10">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:TONUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=11">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:AVAXUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=12">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:SHIBUSDT",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=13">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:LINKUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=14">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:DOTUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=15">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:NOTUSDT",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=16">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:PEPEUSDT",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=17">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:LTCUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=18">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:POLUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=19">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:UNIUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=20">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:APTUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                                <div class="col-md-4">
                    <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <a href="fund_crypto?id=21">
  <div class="cod" style="position: relative; width: 100%; height: 220px;">
      <div class="tradingview-widget-container__widget"></div>
      <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: transparent;"></div>
  </div></a>
  <!--<div class="tradingview-widget-copyright">-->
  <!--    <a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a>-->
  <!--  </div>-->
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js" async>
  {
  "symbol": "BINANCE:SUIUSD",
  "width": "100%",
  "height": 250,
  "locale": "en",
  "dateRange": "12M",
  "colorTheme": "light",
  "isTransparent": true,
  "autosize": false,
  "largeChartUrl": ""
}
  </script>
</div>
<!-- TradingView Widget END -->
                </div>
                            </div>
            
        </div>
    </section>
    <style>
        @font-face { 
  font-family:iconFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf) format("truetype");
} 
@font-face { 
  font-family:iconGeneralFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/general/general-v.6.3.ttf) format("truetype");
} 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@font-face { 
  font-family:"iconFont";
  font-weight:normal;
  font-style:normal;
  src:url("https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf") format("ttf");
} 
  body {  
    direction:ltr;
  }  
@media all{     
  body {  
    color:var(--neutral-100);
    font-family:'Open Sans',sans-serif;
  }  
}  
* { 
    scrollbar-color: var(--info-hover-actions, #555B70) transparent; 
    scrollbar-width: thin;
} 

@media all{ 
  * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
  } 

  * { 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 

  div { 
    margin: 0; 
    padding: 0;
  } 

  body { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  body { 
    overflow: scroll;
  } 
}     

@media all{ 
  body { 
    color: var(--neutral-100); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
  } 

  body { 
    background-color: var(--neutral-20); 
    font-family: 'Open Sans',sans-serif; 
    height: 100%;
  } 

  body { 
    margin: 0; 
    padding: 0;
  } 

  html { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  html { 
    overflow: scroll;
  } 
}     

@media all{ 
  html { 
    margin: 0; 
    padding: 0;
  } 
}     

:root { 
    --aa-base-unit: 16; 
    --aa-spacing-factor: 1; 
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px); 
    --aa-spacing-half: calc(var(--aa-spacing) / 2); 
    --aa-font-size: calc(var(--aa-base-unit) * 1px); 
    --aa-background-color-rgb: 255, 255, 255; 
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb); 
} 

:root { 
    --primary-neutral-text: #13151C; 
    --tertiary-neutral-text: #878DA1; 
    --neutral-primary-bg: #FFFFFF; 
    --brand-actions: #0EB12E; 
    --brand-hover-actions: #3AC054; 
    --info-hover-actions: #5A6178; 
    --primary-100: #3FB923; 
    --primary-100-hover: #48C328; 
    --rgb-neutral-100: 0, 0, 0; 
    --neutral-100: #2c2c2c; 
    --neutral-20: #f1f1f1; 
    --neutral-0: #fff; 
    --lightmode-neutral-dm-70: #85899B; 
    --lightmode-neutral-dm-40: #555B70; 
    --neutral-40-dm: #555B70; 
} 

:root { 
    --button-basic-transition-delay-border-color: .65s; 
    --button-basic-transition-delay-background-color: .5s; 
} 

.watchlist-header[_ngcontent-ng-c4061591387] { 
    position: relative; 
    height: 70px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
} 

.watchlist-header-wrapper[_ngcontent-ng-c4061591387] > [_ngcontent-ng-c4061591387]  { 
    width: 100%; 
    background-color: var(--neutral-0);
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--tertiary-neutral-text, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

.watchlist-header[_ngcontent-ng-c4061591387] .watch-list-buttons[_ngcontent-ng-c4061591387]  { 
    display: flex; 
    margin-inline-end: 6px;
} 

.select-container[_ngcontent-ng-c4061591387] { 
    display: flex; 
    align-items: center; 
    justify-content: center;
} 

[_nghost-ng-c203745094] { 
    position: absolute; 
    z-index: 1000; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 

button { 
    outline: 0;
} 

@media all{ 
  button { 
    border: none;
  } 

  button { 
    font-family: inherit;
  } 
}     

.ets-button-basic { 
    padding: 0 15px; 
    box-shadow: none; 
    border: none; 
    font-weight: 700; 
    cursor: pointer; 
    color: var(--neutral-primary-bg, #fff); 
    min-width: 140px; 
    line-height: 45px; 
    font-size: 14px; 
    border-radius: 50px; 
    text-align: center; 
    transition: var(--button-basic-transition-delay-border-color, .65s) ease border-color,var(--button-basic-transition-delay-background-color, .5s) ease background-color,var(--button-basic-transition-delay-color, .5s) ease color;
} 

@media all{ 
  .pointer { 
    cursor: pointer; 
    -webkit-user-select: none; 
    -webkit-user-drag: none; 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 
}     

button[_ngcontent-ng-c4061591387] { 
    outline: 0;
} 

.ets-button-basic.ets-button-small { 
    line-height: 35px;
} 

.ets-button-basic.ets-button-small { 
    min-width: 100px;
} 

.watchlist-done-btn[_ngcontent-ng-c4061591387] { 
    white-space: nowrap;
} 

.ets-button-basic.ets-button-primary:not(.ets-button-basic-outline) { 
    background: var(--brand-actions, #3FB923);
} 

@media (min-width: 768px){ 
  .ets-button-basic.ets-button-primary:not(.ets-button-basic-outline):hover { 
    background: var(--brand-hover-actions, #48C328);
  } 
}     

.et-flex-center { 
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.ets-select { 
    cursor: pointer; 
    flex: 1;
} 

@media (min-width: 768px){ 
  .ets-select { 
    display: flex; 
    flex-direction: column;
  } 

  .ets-select { 
    position: relative;
  } 
}     

.watchlist-header-wrapper[_ngcontent-ng-c4061591387] et-select[_ngcontent-ng-c4061591387]  { 
    max-width: -moz-fit-content; 
    max-width: fit-content;
} 

@media all{ 
  span { 
    margin: 0; 
    padding: 0;
  } 
}     

.watchlist-done-btn[_ngcontent-ng-c4061591387] .watchlist-btn-icon[_ngcontent-ng-c4061591387]  { 
    color: var(--neutral-0); 
    vertical-align: bottom; 
    line-height: 2.1;
} 

.ets-icon-tiny:before { 
    -webkit-font-smoothing: antialiased; 
    font-size: 16px;
} 

.ets-icon-check-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e944";
} 

.watchlist-done-btn[_ngcontent-ng-c4061591387] .watchlist-btn-icon[_ngcontent-ng-c4061591387]:hover::after, .watchlist-done-btn[_ngcontent-ng-c4061591387] .watchlist-btn-icon[_ngcontent-ng-c4061591387]::after { 
    content: ""; 
    width: 8px; 
    height: 13px; 
    display: inline-block;
} 

.watchlist-done-btn[_ngcontent-ng-c4061591387] .watchlist-btn-icon[_ngcontent-ng-c4061591387]:hover,.watchlist-done-btn[_ngcontent-ng-c4061591387] .watchlist-btn-icon[_ngcontent-ng-c4061591387]  { 
    color: var(--neutral-0); 
    vertical-align: bottom; 
    line-height: 2.1;
} 

.watchlist-header[_ngcontent-ng-c4061591387] .watch-list-buttons[_ngcontent-ng-c4061591387] .ets-watchlist-button-wrapper[_ngcontent-ng-c4061591387] .ets-watchlist-icon-button[_ngcontent-ng-c4061591387]  { 
    background-color: transparent; 
    cursor: pointer; 
    color: var(--lightmode-neutral-dm-40); 
    padding: 0 12px;
} 

.watchlist-header[_ngcontent-ng-c4061591387] .watch-list-buttons[_ngcontent-ng-c4061591387] .ets-watchlist-button-wrapper[_ngcontent-ng-c4061591387] .add-btn[_ngcontent-ng-c4061591387]  { 
    width: 50px; 
    height: 26px; 
    border-inline-end: 1px solid var(--neutral-20); 
    margin-inline-end: 5px; 
    font-size: 20px;
} 

.ets-icon-small:before { 
    font-size: 20px; 
    -webkit-font-smoothing: antialiased;
} 

.ets-icon-circle-plus-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e95d";
} 

.watchlist-header[_ngcontent-ng-c4061591387] .watch-list-buttons[_ngcontent-ng-c4061591387] .ets-watchlist-button-wrapper[_ngcontent-ng-c4061591387] .ets-watchlist-icon-button[_ngcontent-ng-c4061591387]::before { 
    display: block;
} 

.watchlist-header[_ngcontent-ng-c4061591387] .watch-list-buttons[_ngcontent-ng-c4061591387] .ets-watchlist-button-wrapper[_ngcontent-ng-c4061591387] .ets-watchlist-icon-button[_ngcontent-ng-c4061591387]:hover { 
    color: var(--neutral-100);
} 

.icon-moon[_ngcontent-ng-c4061591387] { 
    font-family: iconFont,sans-serif; 
    font-style: normal; 
    font-size: 28px; 
    text-align: center; 
    color: var(--neutral-40-dm); 
    color: var(--lightmode-neutral-dm-70); 
    cursor: pointer;
} 

.filter-active[_ngcontent-ng-c4061591387] { 
    color: var(--primary-100);
} 

.watchlist-filter-icon[_ngcontent-ng-c4061591387] { 
    font-size: 18px; 
    padding: 0 13px 0 20px;
} 

.ets-icon-filter-equalizer-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e951";
} 

.icon-moon[_ngcontent-ng-c4061591387]:hover { 
    color: #1a2d3d;
} 

.filter-active[_ngcontent-ng-c4061591387]:hover { 
    color: var(--primary-100-hover);
} 

@media all{ 
  a { 
    text-decoration: none; 
    outline: 0;
  } 

  a { 
    color: var(--neutral-100);
  } 

  a { 
    margin: 0; 
    padding: 0;
  } 
}     

.toggle-view[_ngcontent-ng-c4061591387]:hover { 
    color: var(--neutral-100);
} 

.toggle-view[_ngcontent-ng-c4061591387]:hover:after,et-select-header[_ngcontent-ng-c4061591387]:hover:after { 
    border-color: var(--neutral-100);
} 

.ets-icon-overview-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e9eb";
} 

et-select-header { 
    color: var(--primary-neutral-text, #2c2c2c);
} 

.ets-select et-select-header  { 
    display: flex;
} 

.ets-select .ets-icon-arrow-down  { 
    display: flex; 
    align-items: baseline;
} 

et-select-header.watchlist-header-dropper-arrow[_ngcontent-ng-c4061591387] { 
    padding: 0 20px;
} 

.ets-icon-arrow-down:before { 
    font-family: iconGeneralFont; 
    content: "\e906";
} 

.ets-select et-select-header::before { 
    flex: none;
} 

.ets-select .ets-icon-arrow-down::before { 
    order: 2;
} 

.toggle-view.watchlist-header-dropper-arrow[_ngcontent-ng-c4061591387]:before,et-select-header.watchlist-header-dropper-arrow[_ngcontent-ng-c4061591387]:before { 
    font-size: 14px; 
    padding: 2px;
} 

.ets-select .ets-icon-arrow-down::after { 
    content: ""; 
    display: block; 
    width: 10px; 
    order: 1;
} 

et-select-header div  { 
    text-overflow: ellipsis; 
    overflow: hidden;
} 

.ets-title-main { 
    color: var(--primary-neutral-text, #2c2c2c); 
    font-family: Open Sans,ariel,sans-serif;
} 

.ets-title-main { 
    font-size: 22px; 
    letter-spacing: -.4px; 
    font-weight: 700;
} 

.ets-icon-three-dots-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e988";
} 


@font-face { 
  font-family:DINOT;
  font-weight:600;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
} 
@font-face { 
  font-family:DINOT;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format("truetype");
} 
@font-face { 
  font-family:DINOT;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format("truetype");
} 
@font-face { 
  font-family:iconFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf) format("truetype");
} 
@font-face { 
  font-family:iconGeneralFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/general/general-v.6.3.ttf) format("truetype");
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Light.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Regular.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Medium.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Bold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-ExtraBold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Light.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Regular.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Medium.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Bold.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Light.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:local("Open Sans Light"),local("OpenSans-Light"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:300;
  src:local("Open Sans Light Italic"),local("OpenSans-LightItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:400;
  src:local("Open Sans Italic"),local("OpenSans-Italic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:local("Open Sans SemiBold"),local("OpenSans-SemiBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:600;
  src:local("Open Sans SemiBold Italic"),local("OpenSans-SemiBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:700;
  src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:local("Open Sans ExtraBold"),local("OpenSans-ExtraBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:800;
  src:local("Open Sans ExtraBold Italic"),local("OpenSans-ExtraBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Regular.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Medium.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Bold.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:ets-number-char;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format("truetype");
  unicode-range:U+00A0,U+0020,U+002E,U+002C,U+0028-0039,U+002F,U+004B,U+004D,U+0042,U+0054;
} 
@font-face { 
  font-family:ets-number-char;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+00A0,U+0020,U+002E,U+002C,U+0028-0039,U+002F,U+004B,U+004D,U+0042,U+0054;
} 
@font-face { 
  font-family:ets-number-char;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format("truetype");
  unicode-range:U+00A0,U+0020,U+002E,U+002C,U+0028-0039,U+002F,U+004B,U+004D,U+0042,U+0054;
} 
@font-face { 
  font-family:ets-number-char;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Regular.ttf) format("truetype");
  unicode-range:U+00A0,U+0020-0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:ets-number-char;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Medium.ttf) format("truetype");
  unicode-range:U+00A0,U+0020-0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:ets-number-char;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Bold.ttf) format("truetype");
  unicode-range:U+00A0,U+0020-0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@font-face { 
  font-family:'DINOT';
  font-weight:300;
  src:url('https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf') format('truetype');
} 
@font-face { 
  font-family:"iconFont";
  font-weight:normal;
  font-style:normal;
  src:url("https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/icomoon.ttf") format("ttf");
} 
  body {  
    direction:ltr;
  }  
@media all{     
  body {  
    color:var(--neutral-100);
    font-family:'Open Sans',sans-serif;
  }  
}  
* { 
    scrollbar-color: var(--info-hover-actions, #555B70) transparent; 
    scrollbar-width: thin;
} 

@media all{ 
  * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
  } 

  * { 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 

  div { 
    margin: 0; 
    padding: 0;
  } 

  body { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  body { 
    overflow: scroll;
  } 
}     

@media all{ 
  body { 
    color: var(--neutral-100); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
  } 

  body { 
    background-color: var(--neutral-20); 
    font-family: 'Open Sans',sans-serif; 
    height: 100%;
  } 

  body { 
    margin: 0; 
    padding: 0;
  } 

  html { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  html { 
    overflow: scroll;
  } 
}     

@media all{ 
  html { 
    margin: 0; 
    padding: 0;
  } 
}     

:root { 
    --aa-base-unit: 16; 
    --aa-spacing-factor: 1; 
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px); 
    --aa-spacing-half: calc(var(--aa-spacing) / 2); 
    --aa-font-size: calc(var(--aa-base-unit) * 1px); 
    --aa-background-color-rgb: 255, 255, 255; 
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb); 
} 

:root { 
    --primary-neutral-text: #13151C; 
    --secondary-neutral-text: #5A6178; 
    --tertiary-neutral-text: #878DA1; 
    --secondary-divider: #F2F3F7; 
    --neutral-primary-bg: #FFFFFF; 
    --info-hover-actions: #5A6178; 
    --primary-100: #3FB923; 
    --rgb-neutral-100: 0, 0, 0; 
    --neutral-100: #2c2c2c; 
    --neutral-90: #777; 
    --neutral-70: #bababa; 
    --neutral-30: #e4e4e4; 
    --neutral-20: #f1f1f1; 
    --neutral-10: #f7f7f7; 
    --neutral-0: #fff; 
    --neutral-40-dm: #555B70; 
    --rating-lowest: #3DAE23; 
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--tertiary-neutral-text, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

.ets-first-cell { 
    text-align: start; 
    display: flex;
} 

.ets-first-cell  { 
    padding-inline-start: 20px;
} 

.ets-table-columns { 
    display: flex; 
    flex: 1;
} 

.ets-table-columns { 
    align-items: center;
} 

.ets-last-cell { 
    width: 50px; 
    flex: none; 
    align-items: center; 
    display: flex; 
    justify-content: center;
} 

.ets-cell { 
    text-align: center; 
    box-sizing: content-box; 
    display: flex; 
    justify-content: space-around; 
    flex: 1;
} 

.ets-cell  { 
    margin: 0 10px;
} 

.ets-cell  { 
    align-items: center;
} 

[_nghost-ng-c3188015029] { 
    display: inline-block;
} 

.et-flex { 
    display: flex;
} 

.et-flex[_ngcontent-ng-c1923787475] { 
    display: flex;
} 

.ets-first-cell .card-avatar-wrapper  { 
    width: 100%;
} 

.ets-first-cell  { 
    align-items: center;
} 

.instrument-change[_ngcontent-ng-c1923787475] { 
    justify-content: flex-end;
} 

@media (min-width: 768px){ 
  .instrument-change[_ngcontent-ng-c1923787475] { 
    display: flex; 
    align-items: center;
  } 

  [_nghost-ng-c1923787475] .watchlist-chart-cell[_ngcontent-ng-c1923787475]  { 
    display: block;
  } 
}     

et-buy-sell-button  { 
    width: 100%;
} 

[_nghost-ng-c3625826164] { 
    display: block; 
    border-radius: 3px; 
    overflow: hidden; 
    box-sizing: border-box;
} 

.watchlist-list-right-icon[_ngcontent-ng-c1923787475] { 
    cursor: pointer; 
    display: flex; 
    justify-content: flex-end;
} 

.instrument-cell[_ngcontent-ng-c1923787475] .change-items[_ngcontent-ng-c1923787475]  { 
    text-align: right; 
    min-width: 95px;
} 

.chart-wrap[_ngcontent-ng-c1923787475] { 
    position: relative;
} 

.chart-wrap[_ngcontent-ng-c1923787475] { 
    overflow: hidden;
} 

.instrument-cell.chart-wrap[_ngcontent-ng-c1923787475] { 
    height: 35px; 
    min-width: 8vw; 
    cursor: pointer;
} 

[_nghost-ng-c1923787475] et-buy-sell-button > div  { 
    flex: 1;
} 

.prices[_ngcontent-ng-c3625826164] { 
    color: var(--neutral-0); 
    background-color: var(--neutral-0);
} 

.prices.short-label[_ngcontent-ng-c3625826164] { 
    display: flex; 
    height: 35px; 
    background-color: var(--neutral-20); 
    border: none;
} 

.prices.disabled[_ngcontent-ng-c3625826164] { 
    color: var(--neutral-70); 
    background-color: var(--neutral-10);
} 

.prices.disabled[_ngcontent-ng-c3625826164],.prices.disabled[_ngcontent-ng-c3625826164]:hover { 
    color: var(--neutral-70); 
    background-color: var(--neutral-10);
} 

.ets-select { 
    cursor: pointer; 
    flex: 1;
} 

@media (min-width: 768px){ 
  .ets-select { 
    display: flex; 
    flex-direction: column;
  } 

  .ets-select { 
    position: relative;
  } 
}     

@media all{ 
  a { 
    text-decoration: none; 
    outline: 0;
  } 

  a { 
    color: var(--neutral-100);
  } 

  a { 
    margin: 0; 
    padding: 0;
  } 
}     

.card-avatar-wrap[_ngcontent-ng-c3591224755] { 
    display: flex; 
    line-height: 1; 
    overflow: hidden; 
    cursor: pointer; 
    width: 100%;
} 

et-card-avatar[_ngcontent-ng-c1923787475] .card-avatar-wrap  { 
    max-width: 100%;
} 

[_nghost-ng-c3591224755] { 
    width: 100%; 
    overflow: hidden; 
    display: flex; 
    align-items: center;
} 

.avatar-info { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    vertical-align: middle; 
    flex: 1; 
    overflow: hidden; 
    padding-inline-end: 10px; 
    max-width: -moz-fit-content; 
    max-width: fit-content;
} 

[_nghost-ng-c148223938] { 
    position: relative; 
    display: inline-block; 
    cursor: pointer;
} 

et-smart-signals[_ngcontent-ng-c3591224755] { 
    z-index: 0;
} 

.avatar-info[_ngcontent-ng-c3591224755] { 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    vertical-align: middle; 
    flex: 1; 
    overflow: hidden; 
    padding-inline-end: 10px; 
    max-width: -moz-fit-content; 
    max-width: fit-content;
} 

.card-avatar-wrap[_ngcontent-ng-c3591224755] [_ngcontent-ng-c3591224755]  { 
    font-family: general-font,Arial,sans-serif;
} 

.ets-positive { 
    color: var(--primary-100);
} 

.ets-positive[_ngcontent-ng-c1923787475] { 
    color: var(--primary-100);
} 

[_nghost-ng-c2225601646] { 
    display: block; 
    height: 100%;
} 

et-instrument-sparklines[_ngcontent-ng-c1923787475] { 
    width: 100%;
} 

.chart-wrap[_ngcontent-ng-c1923787475] .watchlist-card-external-link[_ngcontent-ng-c1923787475]  { 
    position: absolute; 
    right: 3px; 
    bottom: 3px; 
    padding-top: 1px; 
    color: var(--neutral-0); 
    line-height: 1; 
    display: block; 
    font-size: 18px; 
    cursor: pointer; 
    font-family: iconFont,sans-serif; 
    font-style: normal; 
    text-align: center; 
    color: var(--neutral-40-dm); 
    background-color: #1a2d3d33; 
    border-radius: 4px; 
    display: inline-block; 
    width: 20px; 
    height: 20px; 
    visibility: hidden;
} 

.ets-icon-tiny:before { 
    -webkit-font-smoothing: antialiased; 
    font-size: 16px;
} 

.ets-icon-external-link-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e930";
} 

.chart-wrap[_ngcontent-ng-c1923787475] .watchlist-card-external-link[_ngcontent-ng-c1923787475]:hover { 
    background-color: #1a2d3dbf;
} 

.chart-wrap[_ngcontent-ng-c1923787475]:hover .watchlist-card-external-link[_ngcontent-ng-c1923787475] { 
    visibility: visible; 
    color: var(--neutral-0);
} 

.prices[_ngcontent-ng-c3625826164] .trade-button-title[_ngcontent-ng-c3625826164]  { 
    font-family: general-font,Arial,sans-serif; 
    text-transform: uppercase; 
    padding: 6px; 
    background-color: var(--neutral-40-dm); 
    font-size: 12px; 
    font-weight: 600; 
    letter-spacing: -.15px; 
    line-height: 1.25em;
} 

.prices.short-label[_ngcontent-ng-c3625826164] .trade-button-title[_ngcontent-ng-c3625826164]  { 
    flex: none; 
    width: 38px; 
    text-align: center; 
    font-size: 18px;
} 

.prices.disabled[_ngcontent-ng-c3625826164] .trade-button-title[_ngcontent-ng-c3625826164]  { 
    background-color: transparent;
} 

[_nghost-ng-c3625826164]:hover .prices[_ngcontent-ng-c3625826164] .trade-button-title[_ngcontent-ng-c3625826164] { 
    background-color: #27435b; 
    transition: background-color .2s linear;
} 

.prices.disabled[_ngcontent-ng-c3625826164] .trade-button-title[_ngcontent-ng-c3625826164] , .prices.disabled[_ngcontent-ng-c3625826164]:hover .trade-button-title[_ngcontent-ng-c3625826164] { 
    background-color: transparent;
} 

.prices[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164]  { 
    padding: 7px 8px 5px; 
    text-align: right; 
    font-size: 16px; 
    font-weight: 400; 
    color: var(--neutral-100); 
    border: 1px solid var(--neutral-20); 
    border-top-width: 0; 
    font-family: DINOT,general-font,Arial,sans-serif; 
    direction: ltr;
} 

.prices.short-label[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164]  { 
    flex: 1;
} 

.prices.disabled[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164]  { 
    color: var(--neutral-70); 
    border: 1px solid var(--neutral-10); 
    border-top-width: 0;
} 

[_nghost-ng-c3625826164]:hover .prices[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164] { 
    border: 1px solid var(--neutral-30); 
    border-top-width: 0; 
    transition: border .2s linear;
} 

.prices.disabled[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164] , .prices.disabled[_ngcontent-ng-c3625826164]:hover .price[_ngcontent-ng-c3625826164] { 
    color: var(--neutral-70); 
    border: 1px solid var(--neutral-10); 
    border-top-width: 0;
} 

 [_nghost-ng-c3625826164]:hover .prices.short-label[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164] { 
    border: 1px solid var(--neutral-20); 
    border-top-width: 0;
} 

.prices.disabled[_ngcontent-ng-c3625826164] .trade-button-title[_ngcontent-ng-c3625826164], .prices.disabled[_ngcontent-ng-c3625826164]:hover .trade-button-title[_ngcontent-ng-c3625826164] { 
    background-color: transparent;
} 

.prices.disabled[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164], .prices.disabled[_ngcontent-ng-c3625826164]:hover .price[_ngcontent-ng-c3625826164] { 
    color: var(--neutral-70); 
    border: 1px solid var(--neutral-10); 
    border-top-width: 0;
} 

[_nghost-ng-c3625826164]:hover .prices.no-label[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164], [_nghost-ng-c3625826164]:hover .prices.short-label[_ngcontent-ng-c3625826164] .price[_ngcontent-ng-c3625826164] { 
    border: 1px solid var(--neutral-20); 
    border-top-width: 0;
} 

.content-wrapper[_ngcontent-ng-c148223938] { 
    border: 1.5px solid transparent; 
    border-radius: 8px; 
    padding: 2px; 
    display: inline-block;
} 

.ets-info { 
    color: var(--primary-neutral-text, #2c2c2c); 
    font-family: Open Sans,ariel,sans-serif;
} 

.ets-info { 
    font-size: 14px; 
    letter-spacing: -.25px; 
    font-weight: 400;
} 

.ets-bold { 
    font-weight: 700;
} 

.symbol[_ngcontent-ng-c3591224755] { 
    letter-spacing: -.2px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    line-height: 1.2; 
    margin-top: -2px;
} 

.ets-secondary-info { 
    color: var(--secondary-neutral-text, #777); 
    font-family: Open Sans,ariel,sans-serif;
} 

.ets-secondary-info { 
    font-size: 12px; 
    font-weight: 400;
} 

.name[_ngcontent-ng-c3591224755] { 
    padding-top: 1px; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    line-height: 1.2; 
    letter-spacing: -.15px;
} 

.et-flex-column { 
    display: flex; 
    flex-direction: column;
} 

.et-flex-column[_ngcontent-ng-c1923787475] { 
    display: flex; 
    flex-direction: column;
} 

[_nghost-ng-c2225601646] .sparklines[_ngcontent-ng-c2225601646]  { 
    height: 100%;
} 

et-select-header { 
    color: var(--primary-neutral-text, #2c2c2c);
} 

.ets-select et-select-header  { 
    display: flex;
} 

et-trade-item-card-action[_ngcontent-ng-c1923787475] et-select-header[_ngcontent-ng-c1923787475]  { 
    box-shadow: none; 
    padding: 0; 
    background-color: transparent; 
    border: none; 
    text-transform: unset;
} 

.ets-select et-select-header::before { 
    flex: none;
} 

.ets-avatar-m { 
    height: 35px; 
    width: 35px; 
    border-radius: 6px;
} 

.ets-instrument-icon { 
    display: block; 
    position: relative; 
    z-index: 1; 
    overflow: hidden;
} 

.ets-instrument-icon  { 
    overflow: visible;
} 

et-smart-signals[_ngcontent-ng-c3591224755] .ets-instrument-icon[_ngcontent-ng-c3591224755]  { 
    overflow: visible;
} 

.ets-instrument-icon:before { 
    content: ""; 
    display: block; 
    position: absolute; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1; 
    mix-blend-mode: overlay; 
    background-image: linear-gradient(to bottom,rgba(255,255,255,.75),rgba(44,44,44,0));
} 

.ets-instrument-icon[_ngcontent-ng-c3591224755]:before { 
    border-radius: 6px;
} 

.ets-num-m { 
    font-family: ets-number-char,Open Sans,sans-serif; 
    direction: ltr; 
    display: inline-block;
} 

.ets-num-m { 
    font-size: 18px; 
    letter-spacing: -.35px;
} 

.ets-num-xxs { 
    font-family: ets-number-char,Open Sans,sans-serif; 
    direction: ltr; 
    display: inline-block;
} 

.ets-num-xxs { 
    font-size: 12px; 
    letter-spacing: -.2px;
} 

[_nghost-ng-c145749106] { 
    height: 100%; 
    width: 100%; 
    display: inline-block;
} 

@media all{ 
  .fedeOut,.fadeIn { 
    -moz-transform: translate(0, 0, 0); 
    -ms-transform: translate(0, 0, 0); 
    -o-transform: translate(0, 0, 0); 
    -webkit-transform: translate(0, 0, 0); 
    transform: translate(0, 0, 0);
  } 

  .fedeOut,.fadeIn { 
    -moz-transition: opacity linear 0s; 
    -o-transition: opacity linear 0s; 
    -webkit-transition: opacity linear 0s; 
    transition: opacity linear 0s;
  } 

  .fedeOut { 
    opacity: 0; 
    visibility: hidden; 
    -moz-transition: opacity linear 200ms; 
    -o-transition: opacity linear 200ms; 
    -webkit-transition: opacity linear 200ms; 
    transition: opacity linear 200ms;
  } 

  .fadeIn { 
    opacity: 1; 
    visibility: visible; 
    -moz-transition: opacity linear 200ms; 
    -o-transition: opacity linear 200ms; 
    -webkit-transition: opacity linear 200ms; 
    transition: opacity linear 200ms;
  } 
}     

et-select-header div  { 
    text-overflow: ellipsis; 
    overflow: hidden;
} 

.watchlist-list-right-icon[_ngcontent-ng-c1923787475] div[_ngcontent-ng-c1923787475]  { 
    height: 22px; 
    width: 22px; 
    font-size: 22px; 
    vertical-align: sub; 
    display: flex; 
    line-height: 1;
} 

.watchlist-list-right-icon[_ngcontent-ng-c1923787475] div.ets-icon-three-dots-fill[_ngcontent-ng-c1923787475]  { 
    font-size: 16px; 
    padding-left: 7px; 
    padding-top: 2px; 
    color: var(--neutral-70);
} 

.ets-icon-small:before { 
    font-size: 20px; 
    -webkit-font-smoothing: antialiased;
} 

.ets-icon-three-dots-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e988";
} 

 .watchlist-list-right-icon[_ngcontent-ng-c1923787475] div.ets-icon-three-dots-fill[_ngcontent-ng-c1923787475]:hover { 
    color: var(--neutral-90);
} 

.ets-instrument-icon > img  { 
    position: relative; 
    display: block; 
    width: 100%; 
    height: 100%; 
    border-radius: 4px; 
    z-index: 2;
} 

@media all{ 
  span { 
    margin: 0; 
    padding: 0;
  } 
}     

.arrow-sign[_ngcontent-ng-c1923787475] { 
    display: inline-block; 
    margin: 2px 3px;
} 

.ets-positive[_ngcontent-ng-c1923787475] .arrow-sign[_ngcontent-ng-c1923787475]  { 
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent; 
    border-right: 4px solid transparent; 
    border-bottom: 4px solid var(--rating-lowest);
} 

canvas[_ngcontent-ng-c145749106] { 
    height: 100%; 
    width: 100%;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-i4Edy.style-i4Edy {  
   width: 30%;  
}  
#style-nKCRZ.style-nKCRZ {  
   background-color: rgb(230, 31, 87);  
}  
#style-Lv9FM.style-Lv9FM {  
   width: 109px;  
    height: 35px;  
}  
 
@font-face { 
  font-family:iconGeneralFont;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/icomoon/general/general-v.6.3.ttf) format("truetype");
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Light.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Regular.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Medium.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Bold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-ExtraBold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Light.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Regular.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Medium.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Bold.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Light.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:local("Open Sans Light"),local("OpenSans-Light"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:300;
  src:local("Open Sans Light Italic"),local("OpenSans-LightItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:400;
  src:local("Open Sans Italic"),local("OpenSans-Italic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:local("Open Sans SemiBold"),local("OpenSans-SemiBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:600;
  src:local("Open Sans SemiBold Italic"),local("OpenSans-SemiBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:700;
  src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:local("Open Sans ExtraBold"),local("OpenSans-ExtraBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:800;
  src:local("Open Sans ExtraBold Italic"),local("OpenSans-ExtraBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Regular.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Medium.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Bold.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
  body {  
    direction:ltr;
  }  
@media all{     
  body {  
    color:var(--neutral-100);
    font-family:'Open Sans',sans-serif;
  }  
}  
* { 
    scrollbar-color: var(--info-hover-actions, #555B70) transparent; 
    scrollbar-width: thin;
} 

@media all{ 
  * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
  } 

  * { 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 

  div { 
    margin: 0; 
    padding: 0;
  } 

  body { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  body { 
    overflow: scroll;
  } 
}     

@media all{ 
  body { 
    color: var(--neutral-100); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
  } 

  body { 
    background-color: var(--neutral-20); 
    font-family: 'Open Sans',sans-serif; 
    height: 100%;
  } 

  body { 
    margin: 0; 
    padding: 0;
  } 

  html { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  html { 
    overflow: scroll;
  } 
}     

@media all{ 
  html { 
    margin: 0; 
    padding: 0;
  } 
}     

:root { 
    --aa-base-unit: 16; 
    --aa-spacing-factor: 1; 
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px); 
    --aa-spacing-half: calc(var(--aa-spacing) / 2); 
    --aa-font-size: calc(var(--aa-base-unit) * 1px); 
    --aa-background-color-rgb: 255, 255, 255; 
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb); 
} 

:root { 
    --tertiary-neutral-text: #878DA1; 
    --secondary-divider: #F2F3F7; 
    --info-hover-actions: #5A6178; 
    --rgb-neutral-100: 0, 0, 0; 
    --neutral-100: #2c2c2c; 
    --neutral-90: #777; 
    --neutral-20: #f1f1f1; 
} 

.ets-table-head { 
    display: flex; 
    flex-direction: row; 
    border-bottom: 1px solid; 
    position: sticky; 
    top: 0; 
    padding: 9px 0; 
    z-index: 2; 
    border-color: var(--secondary-divider, #f1f1f1); 
    background: linear-gradient(to top,rgba(255,255,255,.9),rgba(255 255 255));
} 

.ets-table-head { 
    align-items: center;
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--tertiary-neutral-text, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

.ets-first-cell { 
    text-align: start; 
    display: flex;
} 

.ets-first-cell  { 
    padding-inline-start: 20px;
} 

.ets-table-columns { 
    display: flex; 
    flex: 1;
} 

.ets-table-columns { 
    align-items: center;
} 

.ets-last-cell { 
    width: 50px; 
    flex: none; 
    align-items: center; 
    display: flex; 
    justify-content: center;
} 

.ets-cell { 
    text-align: center; 
    box-sizing: content-box; 
    display: flex; 
    justify-content: space-around; 
    flex: 1;
} 

.ets-cell  { 
    margin: 0 10px;
} 

.list-row-title-cell[_ngcontent-ng-c1923787475] { 
    color: var(--neutral-90); 
    font-weight: 600; 
    letter-spacing: -.35px; 
    font-size: 14px;
} 

@media all{ 
  span { 
    margin: 0; 
    padding: 0;
  } 
}     

.change-title[_ngcontent-ng-c1923787475] { 
    flex-grow: 2; 
    cursor: pointer;
} 

.list-row-title-cell[_ngcontent-ng-c1923787475] span[_ngcontent-ng-c1923787475]  { 
    font-family: general-font,Arial,sans-serif;
} 

.resolution-arrows[_ngcontent-ng-c1923787475] { 
    display: inline-block; 
    line-height: 1; 
    vertical-align: bottom;
} 

.ets-icon-tiny:before { 
    -webkit-font-smoothing: antialiased; 
    font-size: 16px;
} 

.ets-icon-triangle-fill:before { 
    font-family: iconGeneralFont; 
    content: "\e9f4";
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-tKb6Q.style-tKb6Q {  
   width: 30%;  
}  

    </style>

    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="/assets/bundles/mainscripts.bundle.js"></script>
</body>


</html>

