
        @import url('https://fonts.googleapis.com/css?family=Heebo:100,200,300,400,500,600,700,800,900&display=swap'); 
        body {  
            font-family:Heebo, Arial, Helvetica, sans-serif;
            background:rgb(255, 255, 255);
        }  
        * { 
            box-sizing: border-box; 
            font-family: Heebo, Arial, Helvetica, sans-serif; 
            -webkit-font-smoothing: antialiased;
        } 

        body { 
            padding: 0px; 
            margin: 0px; 
            background: rgb(255, 255, 255);
        } 

        html { 
            padding: 0px; 
            margin: 0px; 
            background: rgb(255, 255, 255);
        } 

        :root { 
            --w3m-color-mix-strength: 0%; 
            --w3m-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; 
            --w3m-font-size-master: 10px; 
            --w3m-border-radius-master: 4px; 
            --wui-font-family: var(--w3m-font-family); 
            --wui-font-size-micro: var(--w3m-font-size-master); 
            --wui-font-size-tiny: calc(var(--w3m-font-size-master) * 1.2); 
            --wui-font-size-small: calc(var(--w3m-font-size-master) * 1.4); 
            --wui-font-size-paragraph: calc(var(--w3m-font-size-master) * 1.6); 
            --wui-font-size-large: calc(var(--w3m-font-size-master) * 2); 
            --wui-border-radius-5xs: var(--w3m-border-radius-master); 
            --wui-border-radius-4xs: calc(var(--w3m-border-radius-master) * 1.5); 
            --wui-border-radius-3xs: calc(var(--w3m-border-radius-master) * 2); 
            --wui-border-radius-xxs: calc(var(--w3m-border-radius-master) * 3); 
            --wui-border-radius-xs: calc(var(--w3m-border-radius-master) * 4); 
            --wui-border-radius-s: calc(var(--w3m-border-radius-master) * 5); 
            --wui-border-radius-m: calc(var(--w3m-border-radius-master) * 7); 
            --wui-border-radius-l: calc(var(--w3m-border-radius-master) * 9); 
            --wui-border-radius-3xl: calc(var(--w3m-border-radius-master) * 20); 
            --wui-color-blue-100: var(--wui-color-blue-base-100); 
            --wui-color-blue-015: var(--wui-color-accent-base-015); 
            --wui-color-accent-100: var(--wui-color-accent-base-100); 
            --wui-color-accent-090: var(--wui-color-accent-base-090); 
            --wui-color-accent-080: var(--wui-color-accent-base-080); 
            --wui-accent-glass-090: var(--wui-accent-glass-base-090); 
            --wui-accent-glass-080: var(--wui-accent-glass-base-080); 
            --wui-accent-glass-020: var(--wui-accent-glass-base-020); 
            --wui-accent-glass-015: var(--wui-accent-glass-base-015); 
            --wui-accent-glass-010: var(--wui-accent-glass-base-010); 
            --wui-accent-glass-005: var(--wui-accent-glass-base-005); 
            --wui-accent-glass-002: var(--wui-accent-glass-base-002); 
            --wui-color-fg-100: var(--wui-color-fg-base-100); 
            --wui-color-fg-125: var(--wui-color-fg-base-125); 
            --wui-color-fg-150: var(--wui-color-fg-base-150); 
            --wui-color-fg-175: var(--wui-color-fg-base-175); 
            --wui-color-fg-200: var(--wui-color-fg-base-200); 
            --wui-color-fg-225: var(--wui-color-fg-base-225); 
            --wui-color-fg-250: var(--wui-color-fg-base-250); 
            --wui-color-fg-275: var(--wui-color-fg-base-275); 
            --wui-color-fg-300: var(--wui-color-fg-base-300); 
            --wui-color-bg-100: var(--wui-color-bg-base-100); 
            --wui-color-bg-125: var(--wui-color-bg-base-125); 
            --wui-color-bg-150: var(--wui-color-bg-base-150); 
            --wui-color-bg-175: var(--wui-color-bg-base-175); 
            --wui-color-bg-200: var(--wui-color-bg-base-200); 
            --wui-color-bg-225: var(--wui-color-bg-base-225); 
            --wui-color-bg-250: var(--wui-color-bg-base-250); 
            --wui-color-bg-275: var(--wui-color-bg-base-275); 
            --wui-color-bg-300: var(--wui-color-bg-base-300); 
            --wui-color-success-100: var(--wui-color-success-base-100); 
            --wui-color-error-100: var(--wui-color-error-base-100); 
            --wui-icon-box-bg-error-100: var(--wui-icon-box-bg-error-base-100); 
            --wui-icon-box-bg-blue-100: var(--wui-icon-box-bg-blue-base-100); 
            --wui-icon-box-bg-success-100: var(--wui-icon-box-bg-success-base-100); 
            --wui-icon-box-bg-inverse-100: var(--wui-icon-box-bg-inverse-base-100); 
            --wui-all-wallets-bg-100: var(--wui-all-wallets-bg-base-100); 
            --wui-avatar-border: var(--wui-avatar-border-base); 
        } 

        :root { 
            --wui-box-shadow-blue: color-mix(in srgb, var(--wui-color-accent-100) 16%, transparent); 
            --wui-color-accent-090: color-mix(            in srgb,            var(--wui-color-accent-base-100) 90%,            var(--w3m-default)          ); 
            --wui-color-accent-080: color-mix(            in srgb,            var(--wui-color-accent-base-100) 80%,            var(--w3m-default)          ); 
            --wui-color-accent-090: color-mix(            in srgb,            var(--wui-color-accent-base-100) 90%,            transparent          ); 
            --wui-color-accent-080: color-mix(            in srgb,            var(--wui-color-accent-base-100) 80%,            transparent          ); 
            --wui-accent-glass-090: color-mix(            in srgb,            var(--wui-color-accent-base-100) 90%,            transparent          ); 
            --wui-accent-glass-080: color-mix(            in srgb,            var(--wui-color-accent-base-100) 80%,            transparent          ); 
            --wui-accent-glass-020: color-mix(            in srgb,            var(--wui-color-accent-base-100) 20%,            transparent          ); 
            --wui-accent-glass-015: color-mix(            in srgb,            var(--wui-color-accent-base-100) 15%,            transparent          ); 
            --wui-accent-glass-010: color-mix(            in srgb,            var(--wui-color-accent-base-100) 10%,            transparent          ); 
            --wui-accent-glass-005: color-mix(            in srgb,            var(--wui-color-accent-base-100) 5%,            transparent          ); 
            --wui-color-accent-002: color-mix(            in srgb,            var(--wui-color-accent-base-100) 2%,            transparent          ); 
            --wui-color-fg-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-100)          ); 
            --wui-color-fg-125: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-125)          ); 
            --wui-color-fg-150: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-150)          ); 
            --wui-color-fg-175: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-175)          ); 
            --wui-color-fg-200: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-200)          ); 
            --wui-color-fg-225: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-225)          ); 
            --wui-color-fg-250: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-250)          ); 
            --wui-color-fg-275: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-275)          ); 
            --wui-color-fg-300: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-fg-base-300)          ); 
            --wui-color-bg-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-100)          ); 
            --wui-color-bg-125: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-125)          ); 
            --wui-color-bg-150: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-150)          ); 
            --wui-color-bg-175: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-175)          ); 
            --wui-color-bg-200: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-200)          ); 
            --wui-color-bg-225: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-225)          ); 
            --wui-color-bg-250: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-250)          ); 
            --wui-color-bg-275: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-275)          ); 
            --wui-color-bg-300: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-bg-base-300)          ); 
            --wui-color-success-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-success-base-100)          ); 
            --wui-color-error-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-color-error-base-100)          ); 
            --wui-icon-box-bg-error-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-icon-box-bg-error-base-100)          ); 
            --wui-icon-box-bg-accent-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-icon-box-bg-blue-base-100)          ); 
            --wui-icon-box-bg-success-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-icon-box-bg-success-base-100)          ); 
            --wui-icon-box-bg-inverse-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-icon-box-bg-inverse-base-100)          ); 
            --wui-all-wallets-bg-100: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-all-wallets-bg-base-100)          ); 
            --wui-avatar-border: color-mix(            in srgb,            var(--w3m-color-mix) var(--w3m-color-mix-strength),            var(--wui-avatar-border-base)          );
        } 

        :root { 
            --w3m-color-mix: #000; 
            --w3m-accent: #3396ff; 
            --w3m-default: #000; 
            --wui-color-blue-base-100: #3396ff; 
            --wui-color-accent-base-100: var(--w3m-accent); 
            --wui-color-accent-base-090: #2d7dd2; 
            --wui-color-accent-base-080: #2978cc; 
            --wui-accent-glass-base-090: rgba(51, 150, 255, 0.9); 
            --wui-accent-glass-base-080: rgba(51, 150, 255, 0.8); 
            --wui-accent-glass-base-020: rgba(51, 150, 255, 0.2); 
            --wui-accent-glass-base-015: rgba(51, 150, 255, 0.15); 
            --wui-accent-glass-base-010: rgba(51, 150, 255, 0.1); 
            --wui-accent-glass-base-005: rgba(51, 150, 255, 0.05); 
            --wui-accent-glass-base-002: rgba(51, 150, 255, 0.02); 
            --wui-color-fg-base-100: #141414; 
            --wui-color-fg-base-125: #2d3131; 
            --wui-color-fg-base-150: #474d4d; 
            --wui-color-fg-base-175: #636d6d; 
            --wui-color-fg-base-200: #798686; 
            --wui-color-fg-base-225: #828f8f; 
            --wui-color-fg-base-250: #8b9797; 
            --wui-color-fg-base-275: #95a0a0; 
            --wui-color-fg-base-300: #9ea9a9; 
            --wui-color-bg-base-100: #ffffff; 
            --wui-color-bg-base-125: #f5fafa; 
            --wui-color-bg-base-150: #f3f8f8; 
            --wui-color-bg-base-175: #eef4f4; 
            --wui-color-bg-base-200: #eaf1f1; 
            --wui-color-bg-base-225: #e5eded; 
            --wui-color-bg-base-250: #e1e9e9; 
            --wui-color-bg-base-275: #dce7e7; 
            --wui-color-bg-base-300: #d8e3e3; 
            --wui-color-success-base-100: #26b562; 
            --wui-color-error-base-100: #f05142; 
            --wui-icon-box-bg-error-base-100: #f4dfdd; 
            --wui-icon-box-bg-blue-base-100: #d9ecfb; 
            --wui-icon-box-bg-success-base-100: #daf0e4; 
            --wui-icon-box-bg-inverse-base-100: #dcecfc; 
            --wui-all-wallets-bg-base-100: #e8f1fa; 
            --wui-avatar-border-base: #f3f4f4; 
        } 

        .ezdUho { 
            flex: 1 1 100%; 
            padding: 0px 1rem 1rem; 
            display: flex; 
            flex-direction: column;
        } 

        .dXMqkq { 
            margin-top: 32px;
        } 

        .cjrHof { 
            margin-bottom: 8px; 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            -webkit-box-pack: center; 
            justify-content: center;
        } 

        .jYIOLZ { 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            -webkit-box-pack: center; 
            justify-content: center; 
            margin-bottom: 8px;
        } 

        .gwRsPK { 
            -webkit-box-pack: center; 
            justify-content: center; 
            display: flex; 
            flex-direction: column; 
            max-width: 450px; 
            margin: auto;
        } 

        .fRRxgd { 
            color: rgb(0, 0, 0);
        } 

        .kfWOAL { 
            font-weight: 700; 
            font-size: 25px;
        } 

        .kMsBOO { 
            margin-bottom: 54px;
        } 

        .ctxFOe { 
            max-width: 450px; 
            border-radius: 12px; 
            border: 1px solid rgb(225, 228, 231); 
            overflow: hidden; 
            margin: 40px auto auto; 
            display: flex; 
            flex-direction: column; 
            position: relative; 
            width: 100%;
        } 

        .bvEhVa { 
            margin-bottom: 32px; 
            width: 100%; 
            margin-top: 0px;
        } 

        .klvgaX { 
            display: flex; 
            -webkit-box-pack: center; 
            justify-content: center; 
            -webkit-box-align: center; 
            align-items: center;
        } 

        .fNOzvj { 
            display: flex; 
            -webkit-box-pack: justify; 
            justify-content: space-between; 
            -webkit-box-align: center; 
            align-items: center; 
            height: 70px; 
            padding: 0px 1rem; 
            z-index: 1; 
            background: rgb(255, 255, 255); 
            min-width: 40px;
        } 

        .hDAPtE { 
            border: none; 
            height: 1px; 
            color: rgb(225, 228, 231); 
            background-color: rgb(225, 228, 231); 
            margin: 0px; 
            width: 100%;
        } 

        .cROXbm { 
            height: 73px; 
            display: flex; 
            flex-direction: row; 
            -webkit-box-align: center; 
            align-items: center; 
            -webkit-box-pack: justify; 
            justify-content: space-between; 
            padding: 0px 24px;
        } 

        .brJhAa { 
            margin-top: -10px; 
            z-index: 1;
        } 

        .eItoqO { 
            margin: 45px auto 40px; 
            max-width: 300px; 
            max-height: 290px; 
            min-height: 290px; 
            min-width: 300px; 
            border: 8px solid rgb(236, 239, 253); 
            border-radius: 16px; 
            padding-left: 5px;
        } 

        .kwnrQD { 
            padding: 8px 25px 25px; 
            border-top: 1px solid rgb(225, 228, 231); 
            background-color: rgb(251, 251, 255);
        } 

        .ifofEp { 
            padding: 25px; 
            margin-top: -10px;
        } 

        .kmkmic { 
            font-style: normal; 
            font-weight: 400; 
            font-size: 16px; 
            color: rgb(67, 77, 90); 
            max-width: 400px; 
            margin: 0px; 
            text-align: center;
        } 

        .gsRpMD { 
            width: 25%; 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            -webkit-box-pack: start; 
            justify-content: flex-start; 
            overflow: hidden;
        } 

        .hmtOjM { 
            font-size: 16px; 
            font-style: normal; 
            font-weight: 500; 
            cursor: default;
        } 

        .ilWgzw { 
            width: 25%; 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            -webkit-box-pack: end; 
            justify-content: flex-end; 
            overflow: hidden;
        } 

        .lnKoDG { 
            font-weight: 500; 
            font-size: 16px;
        } 

        .dgbAWq { 
            display: flex; 
            flex-direction: row; 
            -webkit-box-align: center; 
            align-items: center;
        } 

        :host { 
            display: block; 
            contain: content;
        } 

        bp-qr-code { 
            visibility: hidden;
        } 

        .hydrated { 
            visibility: inherit;
        } 

        .fpXcVv { 
            border: 0.75px solid rgb(155, 163, 174); 
            border-radius: 4px; 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            width: 100%; 
            margin-bottom: 8px; 
            background-color: rgb(255, 255, 255);
        } 

        .fzXLfg { 
            height: 50px; 
            display: flex; 
            -webkit-box-pack: justify; 
            justify-content: space-between; 
            -webkit-box-align: center; 
            align-items: center; 
            width: 100%;
        } 

        .eChqzd { 
            border-color: transparent; 
            border-style: solid; 
            border-width: 2px; 
            box-shadow: none; 
            box-sizing: border-box; 
            font-size: 1.125rem; 
            font-weight: 500; 
            line-height: 1.5625rem; 
            overflow: hidden; 
            position: relative; 
            transition: all 10ms ease-in 0s; 
            user-select: none; 
            vertical-align: middle;
        } 

        .eChqzd { 
            background-color: transparent; 
            border-color: rgb(34, 64, 196); 
            color: rgb(34, 64, 196); 
            cursor: pointer; 
            transition: background-color 300ms ease 0s;
        } 

        .eChqzd { 
            border-radius: 6px; 
            height: 50px; 
            min-width: 120px; 
            padding: 10px 32px;
        } 

        .eGWzAZ { 
            width: 100%;
        } 

        .eChqzd:hover { 
            border-color: rgb(31, 58, 179); 
            color: rgb(31, 58, 179);
        } 

        .hzNzns { 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            background: transparent; 
            border: none; 
            height: 40px; 
            width: 40px; 
            padding: 0px;
        } 

        .hzNzns:hover { 
            cursor: pointer;
        } 

        .eNuKzo { 
            margin-left: 8px; 
            display: flex; 
            flex-direction: column; 
            align-items: flex-start;
        } 

        .hjzOY { 
            display: flex; 
            -webkit-box-align: center; 
            align-items: center; 
            -webkit-box-pack: center; 
            justify-content: center; 
            transform: translateY(-4px);
        } 

        .bZmymf { 
            font-weight: 400; 
            font-size: 16px; 
            white-space: nowrap; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            flex: 1 1 100%; 
            margin: 14px;
        } 

        .bMjOTa { 
            border-left: 1px solid rgb(236, 239, 253); 
            margin: 6px 0px 6px 13px; 
            display: flex;
        } 

        .kpABzY { 
            color: rgb(0, 0, 0); 
            font-size: 16px; 
            font-weight: 400; 
            max-width: 250px; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: flex; 
            flex-direction: row;
        } 

        .kuBrnb { 
            color: rgb(0, 0, 0); 
            font-size: 16px; 
            font-weight: 700; 
            max-width: 250px; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: flex; 
            flex-direction: row;
        } 

        .eOacOg { 
            display: flex; 
            flex-direction: row; 
            -webkit-box-align: center; 
            align-items: center;
        } 

        .geyswu { 
            display: flex; 
            flex-direction: row; 
            -webkit-box-align: center; 
            align-items: center;
        } 

        .bXvsuh { 
            color: rgb(0, 0, 0); 
            font-size: 16px; 
            font-weight: 500; 
            max-width: 250px; 
            overflow: hidden; 
            text-overflow: ellipsis; 
            display: flex; 
            flex-direction: row;
        } 

        .cVWnld { 
            font-weight: 400; 
            font-size: 14px; 
            color: rgb(67, 77, 90);
        } 

        .cixhCc { 
            padding: 9px 14px 9px 9px; 
            margin-left: 5px; 
            cursor: pointer; 
            line-height: 15px;
        } 

        .iuOVEr { 
            height: 20px; 
            margin-left: 8px; 
            display: flex;
        } 

        .kpHhfk { 
            width: 15px; 
            height: 15px; 
            padding: 0px; 
            cursor: pointer;
        } 


        /* These were inline style tags. Uses id+class to override almost everything */
        #style-I8lcF.style-I8lcF {  
        opacity: 1;  
            transform: none;  
        }  
        #style-tJlfC.style-tJlfC {  
        color: transparent;  
            display: inline-block;  
            height: 64px;  
            width: 64px;  
        }  
        #style-wYa5c.style-wYa5c {  
        opacity: 1;  
            transform: none;  
        }  
        #style-9QrEl.style-9QrEl {  
        color: transparent;  
            display: inline-block;  
            height: 25px;  
            width: 25px;  
        }  
        #style-lPVTs.style-lPVTs {  
        color: transparent;  
            display: inline-block;  
            height: 35px;  
            width: 35px;  
        }  
        #style-wHvID.style-wHvID {  
        opacity: 1;  
        }  
        #style-wCtrD.style-wCtrD {  
        opacity: 1;  
        }  
        #style-H4N9L.style-H4N9L {  
        color: transparent;  
            display: inline-block;  
            height: 38px;  
            width: 38px;  
        }  
        #style-jrwgG.style-jrwgG {  
        opacity: 1;  
        }  
        #style-LHjsm.style-LHjsm {  
        opacity: 1;  
            transform: none;  
        }  

    