 <%- include('../../../partials/header.ejs') %>


<section class="content inbox">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Referral Program
              <small class="text-muted">Refer people to  Integrafintech and earn impressive bonus</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a href="dashboard"><i class="zmdi zmdi-home"></i> Integrafintech</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Referral</a></li>

                </ul>
            </div>
        </div>
    </div>
    <div class="row ">
          <div class="col-lg-12">
              <div class="card" style="margin-top: 10px; border-radius: 30px; background-color: #c0c0c0;">
                  
                <div style="height:18rem;" _ngcontent-ng-c2176276943="" data-intercom-target="intercom-complete-profile" automation-id="verify-onboarding-card" class="verify-identity-container verify-image progress snipcss-vQyA5">
                    <div _ngcontent-ng-c2176276943="" class="info-container">
                        <div _ngcontent-ng-c2176276943="" class="verify-texts-container">
                            <div _ngcontent-ng-c2176276943="" automation-id="onboarding-welcome-title" class="verify-title ets-title-main">REFER AND EARN</div>
                            <div _ngcontent-ng-c2176276943="" automation-id="onboarding-sub-title" class="verify-description ets-plain-text">Use the link below to invite your friends.</div>
                            <div _ngcontent-ng-c2176276943="" automation-id="onboarding-sub-title" class="verify-description ets-plain-text">(~10% Referral Bonus)</div>
                        </div>
                        
                          <input id="wallt3" type="text" class="form-control text-black" value="https://novax-assets.com/user/register?referral=<%=user.email%>" readonly style="margin-top: 25px; width: 60%; border-radius: 30px; height: 40px; padding-left: 20px; background-color: #ffffff; color: #000000;" id="Flex1">
                        <a href="#">
                            <button onclick="copy3()" _ngcontent-ng-c2176276943="" type="button" style="margin-top: 25px;" automation-id="onboarding-call-to-action-button" class="ets-button-basic ets-button-small ets-button-primary verify-button ng-star-inserted" title="Copy to clipboard" data-clipboard-target="#Flex1" data-clip-success="Copied" data-clip-text="Copied">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                              <span id="cpy3">
                                copy link
                              </span>
                            </button>
                        </a>
                    </div>
                </div>
                
            </div>
          </div>
        </div>
    

        <div class="container-fluid">
        <div class="row clearfix">
             
          <div class="col-lg-4 col-md-6">
              <div style="background-color: #ffffff;" class="mt-3 flex flex-col gap-y-[20px] p-[20px] w-full w-min-[344px] h-[292px] bg-BasicBg border border-solid border-Line hover:border-PrimaryYellow cursor-pointer text-PrimaryText rounded-[16px] snipcss-gKsPb">
                <div class="flex-1 justify-between grid-row">
                    <div class="row">
                        <div class="col-9 truncate typography-headline5 " style="color: #1b1d61;" >Referral Activity</div>
                        <div class="col-3">
                            <div class=" gap-x-[4px] h-[16px] float-right">
                                <div class="bn-tooltips-wrap bn-tooltips-web">
                                    <div class="bn-tooltips-ele cursor-help">
                                        <div class="cursor-help">
                                            <div>
                                                <div class="bn-tag-wrap">
                                                    <div class="bn-bubble bn-bubble__info data-font-14 bn-tag data-size-small">
                                                        <div class="bn-bubble-content style-Tctez" id="style-Tctez">
                                                            <div class="w-[16px] h-[16px]">
                                                                <svg class="bn-svg text-[16px]" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M9.22 11.778a3.11 3.11 0 100-6.22 3.11 3.11 0 000 6.22zM6.11 13.778A3.11 3.11 0 003 16.888v1.554h12.44v-1.555a3.11 3.11 0 00-3.11-3.11H6.11zM21 18.442h-3.56v-1.555c0-1.17-.394-2.248-1.055-3.11h1.505a3.11 3.11 0 013.11 3.11v1.555zM14.33 8.668a5.087 5.087 0 01-.852 2.825 3.11 3.11 0 100-5.65c.538.809.852 1.78.852 2.825z" fill="currentColor"></path>
                                                                </svg>
                                                            </div>
                                                            0                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-1 justify-between grid-row">
                    <div class="bn-tooltips-wrap bn-tooltips-web">
                        <div class="bn-tooltips-ele cursor-help">
                            <div class="">
                                <div class="cursor-help">
                                    <div class="typography-caption1 text-TertiaryText">Referral Balance </div>
                                    <div class="typography-headline2-1 text-TextBuy">
                                        <div class="text-TextBuy">$
                                        0.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="h-[60px] w-[100px]"></div>
                </div>
                <div class="flex flex-1 justify-between grid-row items-end">
                    <div class="bn-tooltips-wrap bn-tooltips-web">
                        
                    </div>
                    <!--<a href="stakecrypto.php?id=<?php// echo $row['tradeId'];?>&stake=<?php//echo $row['id']?>" target="_blank">-->
                    <!--    <button class="bn-button bn-button__primary data-size-regular w-[120px] h-[36px]">-->
                    <!--    <div class="truncate flex-shrink-0" style="color: #ffffff;">Withdraw Bonus</div>-->
                    <!--</button>-->
                    <!--</a>-->
                    
                </div>
            </div>
            
        </div>
            
        </div>
        
        
        <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
  body {  
    direction:var(--main-container-direction);
  }  
@media all{     
  body {  
    color:var(--neutral-100);
    font-family:'Open Sans',sans-serif;
  }  
}  
* { 
    scrollbar-color: var(--neutral-40-dm, #555B70) transparent; 
    scrollbar-width: thin;
} 

@media all{ 
  * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
  } 

  * { 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 

  div { 
    margin: 0; 
    padding: 0;
  } 

  body { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  body { 
    overflow: scroll;
  } 
}     

@media all{ 
  body { 
    color: var(--neutral-100); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
  } 

  body { 
    background-color: var(--neutral-20); 
    font-family: 'Open Sans',sans-serif; 
    height: 100%;
  } 

  body { 
    margin: 0; 
    padding: 0;
  } 

  html { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  html { 
    overflow: scroll;
  } 
}     

@media all{ 
  html { 
    margin: 0; 
    padding: 0;
  } 
}     

:root { 
    --aa-base-unit: 16; 
    --aa-spacing-factor: 1; 
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px); 
    --aa-spacing-half: calc(var(--aa-spacing) / 2); 
    --aa-font-size: calc(var(--aa-base-unit) * 1px); 
    --aa-background-color-rgb: 255, 255, 255; 
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb); 
} 

:root { 
    --primary-100: #3FB923; 
    --primary-100-hover: #48C328; 
    --primary-10-hover: #F1FBF3; 
    --rgb-neutral-100: 0, 0, 0; 
    --neutral-100: #2c2c2c; 
    --neutral-70: #bababa; 
    --neutral-40: #ddd; 
    --neutral-20: #f1f1f1; 
    --neutral-10: #f7f7f7; 
    --neutral-0: #fff; 
    --neutral-40-dm: #555B70; 
} 

:root { 
    --button-basic-transition-delay-border-color: .65s; 
    --button-basic-transition-delay-background-color: .5s; 
} 

.verify-identity-container[_ngcontent-ng-c2176276943] { 
    display: flex; 
    justify-content: space-between; 
    background: var(--neutral-0); 
    padding: 36px; 
    border-radius: 10px;
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--neutral-70, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

.verify-identity-container[_ngcontent-ng-c2176276943] .video-container[_ngcontent-ng-c2176276943]  { 
    display: flex; 
    align-items: center;
} 

.verify-identity-container[_ngcontent-ng-c2176276943] .verify-texts-container[_ngcontent-ng-c2176276943]  { 
    max-width: 430px; 
    margin-block-start: 10px; 
    margin-inline-start: 5px;
} 

@media all{ 
  button { 
    border: none;
  } 

  button { 
    font-family: inherit;
  } 
}     

.ets-button-basic { 
    padding: 0 15px; 
    box-shadow: none; 
    border: none; 
    font-weight: 700; 
    cursor: pointer; 
    color: var(--neutral-0, #fff); 
    min-width: 140px; 
    line-height: 45px; 
    font-size: 14px; 
    border-radius: 50px; 
    text-align: center; 
    transition: var(--button-basic-transition-delay-border-color, .65s) ease border-color,var(--button-basic-transition-delay-background-color, .5s) ease background-color,var(--button-basic-transition-delay-color, .5s) ease color;
} 

.ets-button-basic.ets-button-small { 
    line-height: 35px;
} 

.ets-button-basic.ets-button-small { 
    min-width: 100px; 
} 

.ets-button-basic.ets-button-primary:not(.ets-button-basic-outline) { 
    background: var(--primary-100, #3FB923);
} 

.verify-identity-container[_ngcontent-ng-c2176276943] .verify-button[_ngcontent-ng-c2176276943]  { 
    
    border-radius: 35px;
} 

@media (min-width: 768px){ 
  .ets-button-basic.ets-button-primary:not(.ets-button-basic-outline):hover { 
    background: var(--primary-100-hover, #48C328);
  } 
}     

.verify-identity-container[_ngcontent-ng-c2176276943] .video-container[_ngcontent-ng-c2176276943] .video-preview-wrapper[_ngcontent-ng-c2176276943]  { 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; 
    position: relative;
} 

.stages-progress[_ngcontent-ng-c737651349] { 
    display: flex; 
    align-items: center; 
    margin-top: 10px;
} 

.ets-title-main { 
    color: var(--neutral-100, #2c2c2c); 
    font-family: Open Sans,ariel,sans-serif;
} 

.ets-title-main { 
    font-size: 22px; 
    letter-spacing: -.4px; 
    font-weight: 700;
} 

.verify-identity-container[_ngcontent-ng-c2176276943] .verify-texts-container[_ngcontent-ng-c2176276943] .verify-title[_ngcontent-ng-c2176276943]  { 
    /*margin-top: 25px; */
    min-height: 30px;
} 

.ets-plain-text { 
    color: var(--neutral-100, #2c2c2c); 
    font-family: Open Sans,ariel,sans-serif;
} 

.ets-plain-text { 
    font-size: 16px; 
    letter-spacing: -.25px; 
    font-weight: 400;
} 

.verify-identity-container[_ngcontent-ng-c2176276943] .verify-texts-container[_ngcontent-ng-c2176276943] .verify-description[_ngcontent-ng-c2176276943]  { 
    margin-top: 10px;
} 

.verify-identity-container[_ngcontent-ng-c2176276943] .video-container[_ngcontent-ng-c2176276943] .video-preview-wrapper[_ngcontent-ng-c2176276943] .video-preview[_ngcontent-ng-c2176276943]  { 
    height: 190px; 
    border-radius: 10px; 
    opacity: 0; 
    transition: opacity .3s ease-in;
} 

@media all{ 
  span { 
    margin: 0; 
    padding: 0;
  } 
}     

.verify-identity-container[_ngcontent-ng-c2176276943] .video-container[_ngcontent-ng-c2176276943] .video-preview-wrapper[_ngcontent-ng-c2176276943] .video-play-icon[_ngcontent-ng-c2176276943]  { 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client/img/verify-identity/video-play-icon.svg); 
    width: 38px; 
    height: 39px; 
    position: absolute; 
    background-repeat: no-repeat;
} 

.stages-progress[_ngcontent-ng-c737651349] .stage-container[_ngcontent-ng-c737651349]  { 
    display: flex; 
    align-items: center;
} 

.stages-progress[_ngcontent-ng-c737651349] .create-account[_ngcontent-ng-c737651349]  { 
    display: flex; 
    padding: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .create-account.completed[_ngcontent-ng-c737651349]  { 
    border-radius: 20px; 
    padding: 5px 15px;
} 

.stages-progress[_ngcontent-ng-c737651349] .create-account.completed[_ngcontent-ng-c737651349]  { 
    background: var(--neutral-10);
} 

@media all{ 
  hr { 
    background-color: var(--neutral-40); 
    border: 0; 
    border-bottom: 1px solid var(--neutral-0); 
    height: 1px;
  } 
}     

.stages-progress[_ngcontent-ng-c737651349] .stage-divider[_ngcontent-ng-c737651349]  { 
    width: 15px; 
    height: 3px; 
    margin: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .verify-identity[_ngcontent-ng-c737651349]  { 
    display: flex; 
    padding: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .verify-identity.progress[_ngcontent-ng-c737651349]  { 
    border-radius: 20px; 
    padding: 5px 15px;
} 

.stages-progress[_ngcontent-ng-c737651349] .verify-identity.progress[_ngcontent-ng-c737651349]  { 
    background: var(--primary-10-hover);
} 

.stages-progress[_ngcontent-ng-c737651349] .deposit-funds[_ngcontent-ng-c737651349]  { 
    display: flex; 
    padding: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .create-account[_ngcontent-ng-c737651349] .stage-text[_ngcontent-ng-c737651349]  { 
    margin-inline-end: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .create-account[_ngcontent-ng-c737651349] .stage-icon[_ngcontent-ng-c737651349]  { 
    text-align: center; 
    width: 24px; 
    height: 24px; 
    background-repeat: no-repeat; 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client/img/verify-identity/status-circle-grey.svg);
} 

.stages-progress[_ngcontent-ng-c737651349] .create-account[_ngcontent-ng-c737651349] .stage-icon.completed[_ngcontent-ng-c737651349]  { 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client/img/verify-identity/status-complete.svg);
} 

.stages-progress[_ngcontent-ng-c737651349] .verify-identity[_ngcontent-ng-c737651349] .stage-text[_ngcontent-ng-c737651349]  { 
    margin-inline-end: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .verify-identity[_ngcontent-ng-c737651349] .stage-icon[_ngcontent-ng-c737651349]  { 
    text-align: center; 
    width: 24px; 
    height: 24px; 
    background-repeat: no-repeat; 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client/img/verify-identity/status-circle-grey.svg);
} 

.stages-progress[_ngcontent-ng-c737651349] .verify-identity[_ngcontent-ng-c737651349] .stage-icon.progress[_ngcontent-ng-c737651349]  { 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client/img/verify-identity/status-circle-green.svg);
} 

.stages-progress[_ngcontent-ng-c737651349] .deposit-funds[_ngcontent-ng-c737651349] .stage-text[_ngcontent-ng-c737651349]  { 
    margin-inline-end: 5px;
} 

.stages-progress[_ngcontent-ng-c737651349] .deposit-funds[_ngcontent-ng-c737651349] .stage-icon[_ngcontent-ng-c737651349]  { 
    text-align: center; 
    width: 24px; 
    height: 24px; 
    background-repeat: no-repeat; 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client/img/verify-identity/status-circle-grey.svg);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-33DBo.style-33DBo {  
   opacity: 1;  
}  

    </style>
        <div class="row clearfix mt-10">
          <div class="col-lg-12">
            
            <div class="tab-content">
              <div
                role="tabpanel"
                class="tab-pane in active"
                id="details"
                aria-expanded="true"
              >
                <div class="card" id="details">
                  <div class="body">
                    <div class="row">
                      <div class="col-md-12">
                      <h2>Referral List
                      <br>
                      <small>Users who signed up with your referral link.</small>
                      </h2>  
                        <div class="table-responsive">
                          
                          <table
                            id="mainTable"
                            class="table table-striped"
                            style="cursor: pointer"
                          >
                            <thead>
                              <tr>
                                <th></th>
                                
                                <th>s/n</th>
                                  <th>Name</th>
                                  <th>Date</th>
                                  <th>Status</th>
                                  <th>Bonus Earned</th>
                                <th></th>
                              </tr>
                            </thead>
                                                            <tbody>
                              <tr>
                                <td class="alert alert-warning" colspan="8">No Data Yet</td>
                               
                              </tr>
                              
                            </tbody>

                                                          </table>
                        </div>
                      </div>
                    </div>
                   
                  
                  </div>
                </div>
              </div>
              
            
            </div>
          </div>
        </div>
      </div>
      <style>
            @font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.otf') format('opentype');
  font-weight:200;
} 
@font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Light.otf') format('opentype');
  font-weight:300;
} 
@font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Regular.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Regular.otf') format('opentype');
  font-weight:400;
} 
@font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Medium.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-Medium.otf') format('opentype');
  font-weight:500;
} 
@font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.otf') format('opentype');
  font-weight:600;
} 
@font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.otf') format('opentype');
  font-weight:700;
} 
@font-face { 
  font-family:'BinancePlex';
  font-display:swap;
  src:url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.woff2') format('woff2'), url('https://bin.bnbstatic.com/static/fonts/bp/BinancePlex-SemiBold.otf') format('opentype');
  font-weight:800;
} 
  body {  
    color:var(--color-PrimaryText);
    font-weight:400;
    line-height:1.5;
    font-family:BinancePlex, Arial, sans-serif!important;
    /*background:var(--color-BasicBg);*/
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --scroll-size:  6px;  
    --scroll-pad:  1px; 
    --scroll-bg:  transparent;  
    --scroll-color:  var(--color-DisabledText); 
    --button-bg:  var(--color-BtnBg);  
    --button-color:  var(--color-TextOnYellow);  
    --color-arrow:  var(--color-PrimaryYellow);  
    --color-arrow:  var(--color-Line);  
    --color-arrow:  var(--color-Input);  
} 

* { 
    box-sizing: border-box; 
    margin: 0; 
    outline: 0; 
    padding: 0;
} 

* { 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

*  { 
    --scroll-size: 6px; 
    --scroll-pad: 1px;
} 

*  { 
    --scroll-bg: transparent; 
    --scroll-color: var(--color-DisabledText);
} 

@media (min-width: 768px){ 
  .md\:grid-cols-\[repeat\(2\,minmax\(0\,1fr\)\)\] { 
    grid-template-columns: repeat(2,minmax(0,1fr));
  } 
}     

@media (min-width: 1024px){ 
  .lg\:grid-cols-\[repeat\(3\,minmax\(0\,1fr\)\)\] { 
    grid-template-columns: repeat(3,minmax(0,1fr));
  } 
}     

.flex { 
    display: flex;
} 

.text-PrimaryText { 
    color: var(--color-PrimaryText);
} 

@media (min-width: 768px){ 
  .md\:mx-auto { 
    margin-left: auto; 
    margin-right: auto;
  } 

  .md\:w-\[768px\] { 
    width: 768px;
  } 

  .md\:px-\[24px\] { 
    padding-left: 24px; 
    padding-right: 24px;
  } 
}     

@media (min-width: 1024px){ 
  .lg\:w-\[1248px\] { 
    width: 1248px;
  } 
}     

.bg-BasicBg { 
    background-color: var(--color-BasicBg);
} 

@media (min-width: 1024px){ 
  .lg\:pt-\[80px\] { 
    padding-top: 80px;
  } 
}     

.overflow-hidden { 
    overflow: hidden;
} 

*,body { 
    -webkit-tap-highlight-color: rgba(0,0,0,0);
} 

body { 
    -webkit-overflow-scrolling: touch; 
    -webkit-touch-callout: none; 
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden; 
    font-weight: 400; 
    line-height: 1.5;
} 

body { 
    --radii-2xs: 2px; 
    --radii-xs: 4px; 
    --radii-m: 8px; 
    --space-4xs: 4px; 
    --space-3xs: 5px; 
    --space-2xs: 8px; 
    --space-m: 15px; 
    --scroll-pad: 2px; 
    --scroll-size: 10px;
} 

body { 
    --scroll-bg: transparent; 
    --scroll-color: var(--color-DisabledText);
} 

@media only screen and (min-width: 768px){ 
  body { 
    --space-3xs: 6px; 
    --space-m: 16px;
  } 
}     

body { 
    --color-BasicBg: #181A20; 
    /*background-color: var(--color-BasicBg); */
    --color-Input: #2B3139; 
    --color-Line: #2B3139; 
    --color-DisabledText: #5E6673; 
    --color-TertiaryText: #848E9C; 
    --color-PrimaryText: #EAECEF; 
    --color-TextOnYellow: #202630; 
    --color-BtnBg: #1b1d61;; 
    --color-PrimaryYellow: #F0B90B; 
    --color-TextBuy: #2EBD85; 
} 

body { 
    width: 100vw; 
    height: 100%; 
    margin: 0px; 
    overflow: hidden auto; 
    -webkit-tap-highlight-color: transparent;
} 

body { 
    font-family: BinancePlex, Arial, sans-serif!important;
} 

html { 
    height: 100%; 
    -webkit-tap-highlight-color: transparent;
} 

.h-\[292px\] { 
    height: 292px;
} 

.w-full { 
    width: 100%;
} 

.cursor-pointer { 
    cursor: pointer;
} 

.flex-col { 
    flex-direction: column;
} 

.gap-y-\[20px\] { 
    grid-row-gap: 20px; 
    row-gap: 20px;
} 

.rounded-\[16px\] { 
    border-radius: 16px;
} 

.border { 
    border-width: 1px;
} 

.border-solid { 
    border-style: solid;
} 

.border-Line { 
    border-color: var(--color-Line);
} 

.p-\[20px\] { 
    padding: 20px;
} 

.hover\:border-PrimaryYellow:hover { 
    border-color: var(--color-PrimaryYellow);
} 

:-webkit-scrollbar { 
    width: 5px !important; 
    height: 6px !important;
} 

body ::-webkit-scrollbar,body:-webkit-scrollbar { 
    background-color: var(--scroll-bg); 
    height: var(--scroll-size); 
    width: var(--scroll-size);
} 

:-webkit-scrollbar-thumb { 
    background: rgb(94, 102, 115) !important; 
    border-radius: 3px !important; 
    height: 90px !important; 
    border-color: transparent !important;
} 

body ::-webkit-scrollbar-thumb,body:-webkit-scrollbar-thumb { 
    background-clip: padding-box; 
    background-color: var(--scroll-color); 
    border-color: var(--scroll-bg); 
    border-radius: 20px; 
    border-style: solid; 
    border-width: var(--scroll-pad);
} 

:-webkit-scrollbar-track { 
    background-color: transparent !important;
} 

body ::-webkit-scrollbar-corner,body:-webkit-scrollbar-corner { 
    background-color: var(--scroll-bg);
} 

.flex-1 { 
    flex: 1 1;
} 

.justify-between { 
    justify-content: space-between;
} 

body ::-webkit-scrollbar, body::-webkit-scrollbar { 
    background-color: var(--scroll-bg); 
    height: var(--scroll-size); 
    width: var(--scroll-size);
} 

body ::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb { 
    background-clip: padding-box; 
    background-color: var(--scroll-color); 
    border-color: var(--scroll-bg); 
    border-radius: 20px; 
    border-style: solid; 
    border-width: var(--scroll-pad);
} 

body ::-webkit-scrollbar-corner, body::-webkit-scrollbar-corner { 
    background-color: var(--scroll-bg);
} 

.items-end { 
    align-items: flex-end;
} 

.bn-tooltips-wrap { 
    display: inline-flex; 
    position: relative; 
    width: -webkit-fit-content; 
    width: -moz-fit-content; 
    width: fit-content;
} 

.h-\[60px\] { 
    height: 60px;
} 

.w-\[164px\] { 
    width: 164px;
} 

button { 
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0;
} 

button { 
    overflow: visible;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button;
} 

.bn-button { 
    grid-gap: var(--space-3xs); 
    --button-bg: var(--color-BtnBg); 
    --button-color: var(--color-TextOnYellow); 
    align-items: center; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-color: var(--button-bg); 
    border: none; 
    border-radius: var(--radii-m); 
    color: var(--button-color); 
    cursor: pointer; 
    display: inline-flex; 
    font-size: 16px; 
    font-weight: 500; 
    gap: var(--space-3xs); 
    height: 40px; 
    justify-content: center; 
    line-height: 24px; 
    min-height: 40px; 
    min-width: 72px; 
    outline: none; 
    overflow: hidden; 
    padding-left: var(--space-m); 
    padding-right: var(--space-m); 
    text-align: center; 
    text-decoration: none; 
    text-overflow: ellipsis; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    white-space: nowrap; 
    word-break: break-all;
} 

@media only screen and (min-width: 768px){ 
  .bn-button { 
    font-size: 16px; 
    font-weight: 500; 
    line-height: 24px;
  } 
}     

.h-\[36px\] { 
    height: 36px;
} 

.w-\[65px\] { 
    width: 65px;
} 

.bn-button.data-size-regular { 
    border-radius: var(--radii-m); 
    font-size: 14px; 
    font-weight: 500; 
    height: 36px; 
    line-height: 22px; 
    min-height: 36px; 
    min-width: 64px; 
    padding-left: var(--space-m); 
    padding-right: var(--space-m);
} 

@media only screen and (min-width: 768px){ 
  .bn-button.data-size-regular { 
    font-size: 14px; 
    font-weight: 500; 
    line-height: 22px;
  } 

  .bn-button:hover:not(.inactive, [disabled]) { 
    opacity: .8;
  } 
}     

.typography-headline5 { 
    font-size: 18px; 
    font-weight: 600; 
    line-height: 26px;
} 

@media only screen and (min-width: 768px){ 
  .typography-headline5 { 
    font-size: 20px; 
    font-weight: 600; 
    line-height: 28px;
  } 
}     

.truncate { 
    overflow: hidden; 
    white-space: nowrap;
} 

.truncate { 
    text-overflow: ellipsis;
} 

.bn-tooltips-ele { 
    align-items: center; 
    display: inline-flex; 
    width: 100%;
} 

.cursor-help { 
    cursor: help;
} 

.flex-shrink-0 { 
    flex-shrink: 0;
} 

.h-\[16px\] { 
    height: 16px;
} 

.gap-x-\[4px\] { 
    grid-column-gap: 4px; 
    -webkit-column-gap: 4px; 
    column-gap: 4px;
} 

.typography-caption1 { 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 18px;
} 

@media only screen and (min-width: 768px){ 
  .typography-caption1 { 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 18px;
  } 
}     

.text-TertiaryText { 
    color: var(--color-TertiaryText);
} 

.typography-headline2-1 { 
    font-size: 22px; 
    font-weight: 600; 
    line-height: 32px;
} 

@media only screen and (min-width: 768px){ 
  .typography-headline2-1 { 
    font-size: 30px; 
    font-weight: 600; 
    line-height: 38px;
  } 
}     

.text-TextBuy { 
    color: var(--color-TextBuy);
} 

.typography-body3 { 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px;
} 

@media only screen and (min-width: 768px){ 
  .typography-body3 { 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px;
  } 
}     

[dir="ltr"] .text-right  { 
    text-align: right;
} 

.bn-tag-wrap { 
    align-items: center; 
    direction: ltr; 
    display: inline-flex; 
    position: relative;
} 

.bn-bubble { 
    --color-arrow: var(--color-PrimaryYellow); 
    color: var(--color-TextOnYellow); 
    cursor: auto; 
    display: inline-flex; 
    position: relative;
} 

.bn-bubble { 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 18px;
} 

.bn-bubble__info { 
    --color-arrow: var(--color-Line); 
    color: var(--color-TertiaryText);
} 

@media only screen and (min-width: 768px){ 
  .bn-bubble { 
    font-size: 14px; 
    font-weight: 400; 
    line-height: 22px;
  } 
}     

.bn-tag { 
    font-size: 12px; 
    font-weight: 500; 
    height: 20px; 
    line-height: 18px;
} 

@media only screen and (min-width: 768px){ 
  .bn-tag { 
    height: 24px;
  } 
}     

.bn-tag.data-size-small { 
    font-size: 10px; 
    font-weight: 400; 
    height: 16px; 
    line-height: 16px;
} 

@media only screen and (min-width: 768px){ 
  .bn-tag.data-size-small { 
    font-size: 12px; 
    font-weight: 400; 
    line-height: 18px;
  } 
}     

.bn-tag.bn-bubble__info { 
    --color-arrow: var(--color-Input); 
    color: var(--color-PrimaryText);
} 

.bn-bubble-content { 
    background-color: var(--color-arrow); 
    border-radius: var(--radii-xs); 
    max-width: 320px; 
    padding: var(--space-4xs) var(--space-2xs); 
    position: relative; 
    z-index: 1;
} 

.bn-tag > .bn-bubble-content  { 
    grid-gap: 2px; 
    align-items: center; 
    display: flex; 
    gap: 2px; 
    padding: 0 6px;
} 

.bn-tag.data-size-small > .bn-bubble-content  { 
    border-radius: var(--radii-2xs); 
    padding: 0 4px;
} 

.w-\[16px\] { 
    width: 16px;
} 

.bn-svg { 
    font-size: inherit; 
    height: 1em; 
    width: 1em;
} 

.text-\[16px\] { 
    font-size: 16px;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-Tctez.style-Tctez {  
   margin-left: 0px;  
}  
#style-g6SbY.style-g6SbY {  
   height: 100%;  
    width: 100%;  
    overflow: hidden;  
}  
#highcharts-wt3wbkf-1071.style-lqQcS {  
   position: relative;  
    overflow: hidden;  
    width: 150px;  
    height: 60px;  
    text-align: left;  
    line-height: normal;  
    z-index: 0;  
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
    user-select: none;  
    touch-action: manipulation;  
    outline: none;  
}  
#style-pxfMO.style-pxfMO {  
   color:#333333;  
   font-size:18px;  
   fill:#333333;  
}  
#style-zgl5s.style-zgl5s {  
   color:#666666;  
   fill:#666666;  
}  
#style-Dc51l.style-Dc51l {  
   color:#666666;  
   fill:#666666;  
}  

        </style>
    
</section>

<script src="/assets/bundles/libscripts.bundle.js"></script>
<script src="/assets/bundles/vendorscripts.bundle.js"></script>
<script src="/assets/plugins/ckeditor/ckeditor.js"></script>
<script src="/assets/bundles/mainscripts.bundle.js"></script>
<script src="/assets/js/pages/forms/editors.js"></script>
<script>
    function copy3() {
        /* Get the text field */
        var copyText = document.getElementById("wallt3").value;
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText);

        const element = document.getElementById("cpy3");
        element.innerText = "copied!";
    }
</script>
</body>

</html>