 <%- include('../../../../partials/header.ejs') %>

<section class="content home">
        <div class="block-header" style="margin-top: 5rem;">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2 style="color:#1b1d61">Novax-Assets Robo Portfolios
                        <small class="text-muted">Best interest rates in diverse Robo Portfolios </small>
                    </h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                   
                    <ul class="breadcrumb float-md-right">
                        <li class="breadcrumb-item"><a href="dashboard"><i class="zmdi zmdi-home"></i> </a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Robo Portfolios</a></li>
                       
                    </ul>
                </div>
            </div>
        </div>
        <style>
            @media screen and (max-width: 425px){ 
              .ag { 
                display: none;
              } 
            }
        </style>
        <div class="container-fluid">
            <div class="row clearfix ag">
                <div _ngcontent-ng-c2788712491="" class="fte-card-item smartportfolio ng-star-inserted swiper-slide-active snipcss-Q9ZPo style-xl3nl" id="style-xl3nl">
                    <div _ngcontent-ng-c2788712491="" class="fte-card-description-wrap ">
                        <div _ngcontent-ng-c2788712491="" class="fte-card-description-text">
                            <div _ngcontent-ng-c2788712491="" automation-id="first-time-experience-title" class="fte-card-title">Robo Portfolios just got smarter</div>
                            <div _ngcontent-ng-c2788712491="" automation-id="first-time-experience-description" class="fte-card-description">Meet Robo Portfolios by Novax, a smarter way to invest for the long term</div>
                        </div>
                        <div _ngcontent-ng-c2788712491="" class="custom-pagination">
                            <ul _ngcontent-ng-c2788712491="">
                                <li _ngcontent-ng-c2788712491="" class="selected ng-star-inserted"></li>
                                <li _ngcontent-ng-c2788712491="" class="ng-star-inserted"></li>
                                <li _ngcontent-ng-c2788712491="" class="ng-star-inserted"></li>
                            </ul>
                        </div>
                    </div>
                    <div _ngcontent-ng-c2788712491="" class="card-visuals">
                        <div _ngcontent-ng-c2788712491="" class="card-visual slide-1 smartportfolio"></div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                      <div class="col-lg-4 col-md-12">
                    <a _ngcontent-ng-c324799282="" automation-id="sw-card-container" class="sw-card-container snipcss-U5ytN mb-3" href="/member/account/robo/fund_robo/1">
                        <span _ngcontent-ng-c324799282="" class="landscape sw-card-height" style="background-image: url('/uploads/IMAGE6731ef658e3c8.jpg');"></span>
                        <div _ngcontent-ng-c324799282="" class="sw-card-background" style="background-image: url('/uploads/IMAGE6731ef658e3c8.jpg');"></div>
                        <div _ngcontent-ng-c324799282="" class="item-content">
                            <div _ngcontent-ng-c324799282="" class="sw-tag-wrap">
                                <div _ngcontent-ng-c324799282="" automation-id="featued-tag" class="sw-item-tag et-tag-l ng-star-inserted"> Featured </div>
                            </div>
                            <div _ngcontent-ng-c324799282="" automation-id="sp-card-username" class="sw-card-title"> Cash-enhanced portfolio</div>
                            <div _ngcontent-ng-c324799282="" class="sw-content-wrap">
                                <div _ngcontent-ng-c324799282="" class="sw-card-content">
                                    <div _ngcontent-ng-c324799282="" class="item-info">
                                        <div _ngcontent-ng-c324799282="" automation-id="sp-card-gain-amount" class="item-gain et-positive"> 1.2%</div>
                                        <div _ngcontent-ng-c324799282="" automation-id="sp-card-gain-title" class="discover-date">Return <span _ngcontent-ng-c324799282="">(12M)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                                <div class="col-lg-4 col-md-12">
                    <a _ngcontent-ng-c324799282="" automation-id="sw-card-container" class="sw-card-container snipcss-U5ytN mb-3" href="/member/account/robo/fund_robo/2">
                        <span _ngcontent-ng-c324799282="" class="landscape sw-card-height" style="background-image: url('/uploads/IMAGE6731efd44b22b.jpg');"></span>
                        <div _ngcontent-ng-c324799282="" class="sw-card-background" style="background-image: url('/uploads/IMAGE6731efd44b22b.jpg');"></div>
                        <div _ngcontent-ng-c324799282="" class="item-content">
                            <div _ngcontent-ng-c324799282="" class="sw-tag-wrap">
                                <div _ngcontent-ng-c324799282="" automation-id="featued-tag" class="sw-item-tag et-tag-l ng-star-inserted"> Featured </div>
                            </div>
                            <div _ngcontent-ng-c324799282="" automation-id="sp-card-username" class="sw-card-title"> Market-focused portfolio</div>
                            <div _ngcontent-ng-c324799282="" class="sw-content-wrap">
                                <div _ngcontent-ng-c324799282="" class="sw-card-content">
                                    <div _ngcontent-ng-c324799282="" class="item-info">
                                        <div _ngcontent-ng-c324799282="" automation-id="sp-card-gain-amount" class="item-gain et-positive"> 1.4%</div>
                                        <div _ngcontent-ng-c324799282="" automation-id="sp-card-gain-title" class="discover-date">Return <span _ngcontent-ng-c324799282="">(12M)</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                            </div>
        </div>
    </section>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800,300i,400i,500i,600i,700i,800i&display=swap'); 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Light.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Regular.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Medium.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-Bold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/tajawal/Tajawal-ExtraBold.ttf) format("truetype");
  unicode-range:U+0600 -U 6FF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Light.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  font-style:normal;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Regular.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Medium.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/noto-sans/NotoSansSC-Bold.otf) format("opentype");
  unicode-range:U+4E00 -U 9FFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Light.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Regular.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-SemiBold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/fonts/bai-jamjuree/BaiJamjuree-Bold.ttf) format("truetype");
  unicode-range:U+0E00 -U 0E 7F;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:300;
  src:local("Open Sans Light"),local("OpenSans-Light"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:300;
  src:local("Open Sans Light Italic"),local("OpenSans-LightItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-300italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:400;
  src:local("Open Sans Regular"),local("OpenSans-Regular"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-regular.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:400;
  src:local("Open Sans Italic"),local("OpenSans-Italic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:600;
  src:local("Open Sans SemiBold"),local("OpenSans-SemiBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:600;
  src:local("Open Sans SemiBold Italic"),local("OpenSans-SemiBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-600italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:700;
  src:local("Open Sans Bold"),local("OpenSans-Bold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:700;
  src:local("Open Sans Bold Italic"),local("OpenSans-BoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-700italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:normal;
  font-weight:800;
  src:local("Open Sans ExtraBold"),local("OpenSans-ExtraBold"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-style:italic;
  font-weight:800;
  src:local("Open Sans ExtraBold Italic"),local("OpenSans-ExtraBoldItalic"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff2) format("woff2"),url(https://etoro-cdn.etorostatic.com/web-client/fonts/opensans/open-sans-v15-cyrillic-ext_cyrillic_greek_greek-ext_latin_latin-ext_vietnamese-800italic.woff) format("woff");
  unicode-range:U+0041-007A,U+005F-FFFF;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Medium.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:700;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/dinot/DINOT-Bold.otf) format("truetype");
  unicode-range:U+0030-0039,U+002F;
} 
@font-face { 
  font-family:general-font;
  font-weight:300;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Regular.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:400;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Medium.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
@font-face { 
  font-family:general-font;
  font-weight:600;
  src:url(https://etoro-cdn.etorostatic.com/web-client/et/fonts/roboto/Roboto-Bold.ttf);
  unicode-range:U+0021,U+0040,U+0023-026,U+005E,U+0024,U+00A2,U+00A3,U+00A4,U+00A5,U+20A3,U+20A4,U+20A6,U+20A7,U+20A8,U+20A9,U+20AA,U+20AB,U+20AC,U+20B1,U+20B9,U+20BA,U+20BC,U+20BD;
} 
  body {  
    list-style:none;
    direction:ltr;
  }  
@media all{     
  body {  
    color:var(--neutral-100);
    font-family:'Open Sans',sans-serif;
  }  
}  
* { 
    scrollbar-color: var(--info-hover-actions, #555B70) transparent; 
    scrollbar-width: thin;
} 

@media all{ 
  * { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    box-sizing: border-box;
  } 

  * { 
    -webkit-tap-highlight-color: rgba(var(--rgb-neutral-100), 0);
  } 

  div { 
    margin: 0; 
    padding: 0;
  } 

  body { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  body { 
    overflow: scroll;
  } 
}     

@media all{ 
  body { 
    color: var(--neutral-100); 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    text-size-adjust: 100%; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -khtml-user-select: none; 
    -ms-user-select: none;
  } 

  body { 
    background-color: var(--neutral-20); 
    font-family: 'Open Sans',sans-serif; 
    height: 100%;
  } 

  body { 
    margin: 0; 
    padding: 0;
  } 

  html { 
    overflow: scroll; 
    height: 100%; 
    width: 100%; 
    background-color: var(--neutral-20);
  } 
}     

@media screen and (min-width: 741px){ 
  html { 
    overflow: scroll;
  } 
}     

@media all{ 
  html { 
    margin: 0; 
    padding: 0;
  } 
}     

:root { 
    --aa-base-unit: 16; 
    --aa-spacing-factor: 1; 
    --aa-spacing: calc(var(--aa-base-unit) * var(--aa-spacing-factor) * 1px); 
    --aa-spacing-half: calc(var(--aa-spacing) / 2); 
    --aa-font-size: calc(var(--aa-base-unit) * 1px); 
    --aa-background-color-rgb: 255, 255, 255; 
    --aa-scrollbar-thumb-background-color-rgb: var(--aa-background-color-rgb); 
} 

:root { 
    --tertiary-neutral-text: #878DA1; 
    --info-hover-actions: #5A6178; 
    --rgb-neutral-0: 255, 255, 255; 
    --rgb-neutral-100: 0, 0, 0; 
    --primary-100-dm: #ADF68D; 
    --neutral-100: #2c2c2c; 
    --neutral-90: #777; 
    --neutral-70: #bababa; 
    --neutral-20: #f1f1f1; 
    --neutral-0: #fff; 
    --rating-lowest: #3DAE23; 
} 

@media all{ 
  a { 
    text-decoration: none; 
    outline: 0;
  } 

  a { 
    color: var(--neutral-100);
  } 

  a { 
    margin: 0; 
    padding: 0;
  } 
}     

.sw-card-container[_ngcontent-ng-c324799282] { 
    display: flex; 
    flex-direction: column; 
    padding: 1.5rem; 
    position: relative;
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--tertiary-neutral-text, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

@media all{ 
  span { 
    margin: 0; 
    padding: 0;
  } 
}     

.sw-card-height[_ngcontent-ng-c324799282] { 
    width: 100%; 
    height: auto;
} 

.sw-card-height.landscape[_ngcontent-ng-c324799282] { 
    content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzQwIiBoZWlnaHQ9IjIwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxnPgogIDx0aXRsZT5MYXllciAxPC90aXRsZT4KIDwvZz4KCjwvc3ZnPg==);
} 

.sw-card-background[_ngcontent-ng-c324799282] { 
    background-size: 100% auto,auto 100%; 
    background-repeat: no-repeat; 
    border-radius: 8px; 
    overflow: hidden; 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0;
} 

.sw-card-background[_ngcontent-ng-c324799282]:after { 
    content: ""; 
    display: inline-block; 
    position: absolute; 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0; 
    background: linear-gradient(to bottom,rgba(var(--rgb-neutral-100),0) 33%,black 100%);
} 

.item-content[_ngcontent-ng-c324799282] { 
    display: flex; 
    flex-direction: column; 
    line-height: normal; 
    position: absolute; 
    top: 20px; 
    left: 24px; 
    right: 24px; 
    bottom: 24px;
} 

.sw-tag-wrap[_ngcontent-ng-c324799282] { 
    width: 100%; 
    text-align: end;
} 

.sw-card-title[_ngcontent-ng-c324799282] { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1.125rem; 
    letter-spacing: -.35px; 
    color: var(--neutral-0); 
    font-weight: 700; 
    margin-top: auto; 
    padding-bottom: .125rem; 
    -webkit-font-smoothing: antialiased;
} 

.sw-content-wrap[_ngcontent-ng-c324799282] { 
    display: flex; 
    justify-content: space-between;
} 

.et-tag-l { 
    padding: .3em 1.5em; 
    border-radius: 1.1em;
} 

.sw-tag-wrap[_ngcontent-ng-c324799282] .sw-item-tag[_ngcontent-ng-c324799282]  { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: .75rem; 
    letter-spacing: -.2px; 
    border-radius: 15px; 
    color: var(--neutral-0); 
    display: inline-block; 
    opacity: .75; 
    position: relative; 
    padding: .3em 1em;
} 

.sw-tag-wrap[_ngcontent-ng-c324799282] .sw-item-tag[_ngcontent-ng-c324799282]::after { 
    content: ""; 
    display: block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    bottom: 0; 
    right: 0; 
    border-radius: 15px; 
    background-color: rgba(var(--rgb-neutral-100),.3); 
    mix-blend-mode: lighten;
} 

.sw-content-wrap[_ngcontent-ng-c324799282] .sw-card-content[_ngcontent-ng-c324799282]:nth-last-child(2)  { 
    text-align: start;
} 

.sw-content-wrap[_ngcontent-ng-c324799282] .sw-card-content[_ngcontent-ng-c324799282]:nth-child(2)  { 
    text-align: end; 
    margin-top: auto;
} 

.item-assets[_ngcontent-ng-c324799282] { 
    color: var(--neutral-0); 
    display: flex; 
    flex-direction: column; 
    position: relative;
} 

.et-positive { 
    color: var(--rating-lowest);
} 

.item-gain[_ngcontent-ng-c324799282] { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: 1.5rem; 
    font-weight: 300; 
    letter-spacing: -.45px;
} 

.item-gain.et-positive[_ngcontent-ng-c324799282] { 
    color: var(--primary-100-dm);
} 

@media all{ 
  .discover-date { 
    color: var(--neutral-90); 
    display: block; 
    font-size: 12px; 
    text-transform: uppercase; 
    font-family: 'general-font';
  } 
}     

.discover-date[_ngcontent-ng-c324799282] { 
    color: rgba(var(--rgb-neutral-0),.75); 
    font-weight: 300;
} 

.discover-date[_ngcontent-ng-c324799282] { 
    text-transform: unset;
} 

.main-assets[_ngcontent-ng-c324799282] { 
    display: flex; 
    flex-wrap: wrap;
} 

.additional-assets[_ngcontent-ng-c324799282] { 
    font-family: general-font,Open Sans,Arial,sans-serif; 
    font-style: normal; 
    font-size: .75rem; 
    letter-spacing: -.2px; 
    font-weight: 300; 
    position: relative; 
    text-align: center; 
    text-transform: uppercase; 
    top: 2px; 
    color: rgba(var(--rgb-neutral-0),.75);
} 

@media all{ 
  .discover-date span  { 
    color: var(--neutral-70); 
    display: block;
  } 
}     

.discover-date[_ngcontent-ng-c324799282] span[_ngcontent-ng-c324799282]  { 
    display: inline-block;
} 

.main-asset-avatar[_ngcontent-ng-c324799282] { 
    border-radius: 4px; 
    box-shadow: 4px 0 4px 0 rgba(var(--rgb-neutral-100),.35); 
    height: 25px; 
    overflow: hidden; 
    position: relative; 
    width: 25px;
} 

.main-asset-avatar[_ngcontent-ng-c324799282]:first-child { 
    margin-right: -10px; 
    z-index: 2;
} 

.main-asset-avatar[_ngcontent-ng-c324799282]:after { 
    background: linear-gradient(0deg,rgba(var(--rgb-neutral-100),0) 0%,rgba(var(--rgb-neutral-0),.3) 100%); 
    content: ""; 
    display: inline-block; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
} 

.main-asset-avatar[_ngcontent-ng-c324799282]:last-of-type { 
    box-shadow: none;
} 

.main-asset-avatar[_ngcontent-ng-c324799282]:nth-child(2) { 
    z-index: 1;
} 

.main-asset-avatar[_ngcontent-ng-c324799282] img[_ngcontent-ng-c324799282]  { 
    width: 100%;
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-76fkY.style-76fkY {  
   background-color: rgb(240, 175, 50);  
}  
#style-Chd9F.style-Chd9F {  
   background-color: rgb(44, 44, 44);  
}  
#style-6GNv5.style-6GNv5 {  
   visibility: hidden;  
}  

    </style>
    <style>
        

.swiper-slide { 
    flex-shrink: 0; 
    width: 100%; 
    height: 100%; 
    position: relative; 
    transition-property: transform;
} 

.swiper-slide  { 
    pointer-events: none; 
    transition-property: opacity;
} 

.swiper-slide-active  { 
    pointer-events: auto;
} 

.fte-card-item[_ngcontent-ng-c2788712491] { 
    width: 100%; 
    max-height: 325px; 
    margin: 0 auto; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    background-color: var(--neutral-10); 
    border-radius: 8px;
} 

.swiper-slide  { 
    overflow: hidden;
} 

.swiper-slide  { 
    overflow: auto; 
    width: 100%; 
    height: 100%; 
    max-width: 100%; 
    max-height: 100%;
} 

:-webkit-scrollbar { 
    width: 6px;
} 

:-webkit-scrollbar-thumb:active,:-webkit-scrollbar-thumb { 
    border-radius: 16px; 
    background-color: var(--tertiary-neutral-text, #bababa); 
    background-clip: padding-box;
} 

:-webkit-scrollbar-track { 
    background-color: transparent; 
    box-shadow: none;
} 

.fte-card-item[_ngcontent-ng-c2788712491] .fte-card-description-wrap[_ngcontent-ng-c2788712491]  { 
    position: relative; 
    padding: 50px 0 40px 60px; 
    width: 43%; 
    display: flex; 
    flex-direction: column; 
    height: 325px; 
    justify-content: space-between;
} 

.fte-card-item[_ngcontent-ng-c2788712491] .card-visuals[_ngcontent-ng-c2788712491]  { 
    flex-grow: 1;
} 

.custom-pagination[_ngcontent-ng-c2788712491] { 
    position: absolute; 
    bottom: 60px;
} 

.fte-card-item[_ngcontent-ng-c2788712491] .card-visual[_ngcontent-ng-c2788712491]  { 
    height: 340px; 
    position: relative; 
    margin-left: 20px; 
    overflow: hidden; 
    background-repeat: no-repeat; 
    background-size: contain; 
    background-position-x: right; 
    background-position-y: center;
} 

.fte-card-item[_ngcontent-ng-c2788712491] .card-visual.slide-1.smartportfolio[_ngcontent-ng-c2788712491]  { 
    background-image: url(https://etoro-cdn.etorostatic.com/web-client//et/img/discover/smartportfolio/first-time-exp/whole/desktop-slide1.png);
} 

.fte-card-item[_ngcontent-ng-c2788712491] .fte-card-description-wrap[_ngcontent-ng-c2788712491] .fte-card-title[_ngcontent-ng-c2788712491]  { 
    color: var(--neutral-100); 
    font-weight: 700; 
    font-size: 30px; 
    padding-bottom: 10px;
} 

.fte-card-item[_ngcontent-ng-c2788712491] .fte-card-description-wrap[_ngcontent-ng-c2788712491] .fte-card-description[_ngcontent-ng-c2788712491]  { 
    color: var(--neutral-90); 
    font-weight: 400; 
    font-size: 16px; 
    padding-bottom: 40px;
} 

@media all{ 
  ul { 
    margin: 0; 
    padding: 0;
  } 
}     

.custom-pagination[_ngcontent-ng-c2788712491] ul[_ngcontent-ng-c2788712491]  { 
    list-style-type: none; 
    display: flex;
} 

@media all{ 
  li { 
    margin: 0; 
    padding: 0;
  } 
}     

.custom-pagination[_ngcontent-ng-c2788712491] ul[_ngcontent-ng-c2788712491] li[_ngcontent-ng-c2788712491]  { 
    width: 8px; 
    height: 8px; 
    margin: 0 5px; 
    border-radius: 50%; 
    background: var(--neutral-20);
} 

.custom-pagination[_ngcontent-ng-c2788712491] ul[_ngcontent-ng-c2788712491] li.selected[_ngcontent-ng-c2788712491]  { 
    background: var(--rating-low);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-xl3nl.style-xl3nl {  
   width: 967px;  
    opacity: 1;  
    transform: translate3d(0px, 0px, 0px);  
}  

    </style>
    <script src="/assets/bundles/libscripts.bundle.js"></script>
    <script src="/assets/bundles/vendorscripts.bundle.js"></script>
    <script src="/assets/bundles/mainscripts.bundle.js"></script>
</body>
</html>