<%-include('../../adminlayout/partials/header')%>
<body>
  <div class="container-scroller">
    <%-include('../../adminlayout/partials/navbar') %>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <%-include('../../adminlayout/partials/topbar') %>

      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">Update Payment Details</h3>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/admin/view_payment_details">View Payment Details</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                 Update Payment Details
                </li>
              </ol>
            </nav>
          </div>
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Payment Details</h4>
                  <p class="card-description">Update Crypto Payment Information</p>
                    <form action="/novax-assets/admin/update_payment_details" method="POST" class="forms-sample">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_balance">BTC</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="BTC" name="BTC" value="" placeholder="BTC" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="profit">ETH</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="ETH" name="ETH" value="" placeholder="ETH" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="trade_bonus">USDT(ERC20)</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="USDT" name="usdt_erc20" value="" placeholder="USDT(ERC20)" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="referal_bonus">USDT(TRC20)</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="USDT" name="usdt_trc20" value="" placeholder="USDT(TRC20)" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_won">ADA</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="ADA" name="ADA" value="" placeholder="ADA" />
                      </div>
                      </div>
                    <button type="submit" class="btn btn-primary mr-2">Update Crypto Payment Details</button>
                    </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Payment Details</h4>
                  <p class="card-description">Update Bank Payment Information</p>
                  <form action="/novax-assets/admin/update_payment_details" method="POST" class="forms-sample">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_balance">ACCOUNT NAME</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="account_name" name="account_name" value="" placeholder="ACCOUNT NAME" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="profit">ACCOUNT NUMBER</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="account_number" name="account_number" value="" placeholder="ACCOUNT NUMBER" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="trade_bonus">BANK NAME</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="bank_name" name="bank_name" value="" placeholder="BANK NAME" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="referal_bonus">ACCOUNT TYPE</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="account_type" name="account_type" value="" placeholder="ACCOUNT TYPE" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_won">ROUTING NUMBER</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="routing_number" name="routing_number" value="" placeholder="ROUTING NUMBER" />
                      </div>
                      </div>
                      <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_won">SWIFT CODE</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="swift_code" name="swift_code" value="" placeholder="SWIFT CODE" />
                      </div>
                      </div>
                      <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_won">BANK ADDRESS</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="bank_address" name="bank_address" value="" placeholder="BANK ADDRESS" />
                      </div>
                      </div>
                      <div class="form-group row">
                      <label class="col-sm-4 col-form-label" for="total_won">BENEFICIARY ADDRESS</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="beneficiary_address" name="beneficiary_address" value="" placeholder="BENEFICIARY ADDRESS" />
                      </div>
                      </div>
                      
                    <button type="submit" class="btn btn-primary mr-2">Update Bank Payment Details</button>
                    </form>
                </div>
              </div>
              </div>
              <!-- End of form -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

    <%-include('../../adminlayout/partials/footer') %>
